/*
* Skeleton V1.home2
* Copyright 2011, Dave Gamache
* www.homegetskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .homecontainer                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; text-align: center; font-size: 17px }
    .homecontainer .homecolumn,
    .homecontainer .homecolumns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;}
    .homerow                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .homecolumn.homealpha, .homecolumns.homealpha               { margin-left: 0; }
    .homecolumn.homeomega, .homecolumns.homeomega               { margin-right: 0; }

    /* Base Grid */
    .homecontainer .homeone.homecolumn,
    .homecontainer .homeone.homecolumns                     { width: 40px;  }
    .homecontainer .hometwo.homecolumns                     { width: 100px; }
    .homecontainer .homethree.homecolumns                   { width: 160px; }
    .homecontainer .homefour.homecolumns                    { width: 220px; }
    .homecontainer .homefive.homecolumns                    { width: 280px; }
    .homecontainer .homesix.homecolumns                     { width: 340px; }
    .homecontainer .homeseven.homecolumns                   { width: 400px; }
    .homecontainer .homeeight.homecolumns                   { width: 460px; }
    .homecontainer .homenine.homecolumns                    { width: 520px; }
    .homecontainer .hometen.homecolumns                     { width: 580px; }
    .homecontainer .homeeleven.homecolumns                  { width: 640px; }
    .homecontainer .hometwelve.homecolumns                  { width: 700px; }
    .homecontainer .homethirteen.homecolumns                { width: 760px; }
    .homecontainer .homefourteen.homecolumns                { width: 820px; }
    .homecontainer .homefifteen.homecolumns                 { width: 880px; }
    .homecontainer .homesixteen.homecolumns                 { width: 440px; }

    .homecontainer .homeone-third.homecolumn                { width: 300px; }
    .homecontainer .hometwo-thirds.homecolumn               { width: 620px; }

    /* Offsets */
    .homecontainer .homeoffset-by-one                   { padding-left: 60px;  }
    .homecontainer .homeoffset-by-two                   { padding-left: 120px; }
    .homecontainer .homeoffset-by-three                 { padding-left: 180px; }
    .homecontainer .homeoffset-by-four                  { padding-left: 240px; }
    .homecontainer .homeoffset-by-five                  { padding-left: 300px; }
    .homecontainer .homeoffset-by-six                   { padding-left: 360px; }
    .homecontainer .homeoffset-by-seven                 { padding-left: 420px; }
    .homecontainer .homeoffset-by-eight                 { padding-left: 480px; }
    .homecontainer .homeoffset-by-nine                  { padding-left: 540px; }
    .homecontainer .homeoffset-by-ten                   { padding-left: 600px; }
    .homecontainer .homeoffset-by-eleven                { padding-left: 660px; }
    .homecontainer .homeoffset-by-twelve                { padding-left: 720px; }
    .homecontainer .homeoffset-by-thirteen              { padding-left: 780px; }
    .homecontainer .homeoffset-by-fourteen              { padding-left: 840px; }
    .homecontainer .homeoffset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .homecontainer                                  { width: 768px; }
        .homecontainer .homecolumn,
        .homecontainer .homecolumns                         { margin-left: 10px; margin-right: 10px;  margin-top: 10px; margin-bottom: 10px;}
        .homecolumn.homealpha, .homecolumns.homealpha               { margin-left: 0; margin-right: 10px; }
        .homecolumn.homeomega, .homecolumns.homeomega               { margin-right: 0; margin-left: 10px; }
        .homealpha.homeomega                                { margin-left: 0; margin-right: 0; }

        .homecontainer .homeone.homecolumn,
        .homecontainer .homeone.homecolumns                     { width: 28px; }
        .homecontainer .hometwo.homecolumns                     { width: 76px; }
        .homecontainer .homethree.homecolumns                   { width: 124px; }
        .homecontainer .homefour.homecolumns                    { width: 172px; }
        .homecontainer .homefive.homecolumns                    { width: 220px; }
        .homecontainer .homesix.homecolumns                     { width: 268px; }
        .homecontainer .homeseven.homecolumns                   { width: 316px; }
        .homecontainer .homeeight.homecolumns                   { width: 364px; }
        .homecontainer .homenine.homecolumns                    { width: 412px; }
        .homecontainer .hometen.homecolumns                     { width: 460px; }
        .homecontainer .homeeleven.homecolumns                  { width: 508px; }
        .homecontainer .hometwelve.homecolumns                  { width: 556px; }
        .homecontainer .homethirteen.homecolumns                { width: 604px; }
        .homecontainer .homefourteen.homecolumns                { width: 652px; }
        .homecontainer .homefifteen.homecolumns                 { width: 700px; }
        .homecontainer .homesixteen.homecolumns                 { width: 748px; }

        .homecontainer .homeone-third.homecolumn                { width: 236px; }
        .homecontainer .hometwo-thirds.homecolumn               { width: 492px; }

        /* Offsets */
        .homecontainer .homeoffset-by-one                   { padding-left: 48px; }
        .homecontainer .homeoffset-by-two                   { padding-left: 96px; }
        .homecontainer .homeoffset-by-three                 { padding-left: 144px; }
        .homecontainer .homeoffset-by-four                  { padding-left: 192px; }
        .homecontainer .homeoffset-by-five                  { padding-left: 240px; }
        .homecontainer .homeoffset-by-six                   { padding-left: 288px; }
        .homecontainer .homeoffset-by-seven                 { padding-left: 336px; }
        .homecontainer .homeoffset-by-eight                 { padding-left: 384px; }
        .homecontainer .homeoffset-by-nine                  { padding-left: 432px; }
        .homecontainer .homeoffset-by-ten                   { padding-left: 480px; }
        .homecontainer .homeoffset-by-eleven                { padding-left: 528px; }
        .homecontainer .homeoffset-by-twelve                { padding-left: 576px; }
        .homecontainer .homeoffset-by-thirteen              { padding-left: 624px; }
        .homecontainer .homeoffset-by-fourteen              { padding-left: 672px; }
        .homecontainer .homeoffset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */


    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .homecontainer { width: 420px; }
        .homecontainer .homecolumns,
        .homecontainer .homecolumn {  margin-left: 0; margin-right: 0; margin-top: 10px; margin-bottom: 10px;}

        .homecontainer .homeone.homecolumn,
        .homecontainer .homeone.homecolumns,
        .homecontainer .hometwo.homecolumns,
        .homecontainer .homethree.homecolumns,
        .homecontainer .homefour.homecolumns,
        .homecontainer .homefive.homecolumns,
        .homecontainer .homesix.homecolumns,
        .homecontainer .homeseven.homecolumns,
        .homecontainer .homeeight.homecolumns,
        .homecontainer .homenine.homecolumns,
        .homecontainer .hometen.homecolumns,
        .homecontainer .homeeleven.homecolumns,
        .homecontainer .hometwelve.homecolumns,
        .homecontainer .homethirteen.homecolumns,
        .homecontainer .homefourteen.homecolumns,
        .homecontainer .homefifteen.homecolumns,
        .homecontainer .homesixteen.homecolumns,
        .homecontainer .homeone-third.homecolumn,
        .homecontainer .hometwo-thirds.homecolumn  { width: 420px; }

        /* Offsets */
        .homecontainer .homeoffset-by-one,
        .homecontainer .homeoffset-by-two,
        .homecontainer .homeoffset-by-three,
        .homecontainer .homeoffset-by-four,
        .homecontainer .homeoffset-by-five,
        .homecontainer .homeoffset-by-six,
        .homecontainer .homeoffset-by-seven,
        .homecontainer .homeoffset-by-eight,
        .homecontainer .homeoffset-by-nine,
        .homecontainer .homeoffset-by-ten,
        .homecontainer .homeoffset-by-eleven,
        .homecontainer .homeoffset-by-twelve,
        .homecontainer .homeoffset-by-thirteen,
        .homecontainer .homeoffset-by-fourteen,
        .homecontainer .homeoffset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 319px) {
        .homecontainer { width: 220px; }
        .homecontainer .homecolumns,
        .homecontainer .homecolumn { margin-left: 0; margin-right: 0; margin-top: 10px; margin-bottom: 10px;}

        .homecontainer .homeone.homecolumn,
        .homecontainer .homeone.homecolumns,
        .homecontainer .hometwo.homecolumns,
        .homecontainer .homethree.homecolumns,
        .homecontainer .homefour.homecolumns,
        .homecontainer .homefive.homecolumns,
        .homecontainer .homesix.homecolumns,
        .homecontainer .homeseven.homecolumns,
        .homecontainer .homeeight.homecolumns,
        .homecontainer .homenine.homecolumns,
        .homecontainer .hometen.homecolumns,
        .homecontainer .homeeleven.homecolumns,
        .homecontainer .hometwelve.homecolumns,
        .homecontainer .homethirteen.homecolumns,
        .homecontainer .homefourteen.homecolumns,
        .homecontainer .homefifteen.homecolumns,
        .homecontainer .homesixteen.homecolumns,
        .homecontainer .homeone-third.homecolumn,
        .homecontainer .hometwo-thirds.homecolumn { width: 220px; }
    }

/* #Mobile 
================================================== */


    @media only screen and (min-width: 320px) and (max-width: 479px) {
        .homecontainer { width: 300px; }
        .homecontainer .homecolumns,
        .homecontainer .homecolumn {  margin-left: 0; margin-right: 0;  margin-top: 10px; margin-bottom: 10px;}

        .homecontainer .homeone.homecolumn,
        .homecontainer .homeone.homecolumns,
        .homecontainer .hometwo.homecolumns,
        .homecontainer .homethree.homecolumns,
        .homecontainer .homefour.homecolumns,
        .homecontainer .homefive.homecolumns,
        .homecontainer .homesix.homecolumns,
        .homecontainer .homeseven.homecolumns,
        .homecontainer .homeeight.homecolumns,
        .homecontainer .homenine.homecolumns,
        .homecontainer .hometen.homecolumns,
        .homecontainer .homeeleven.homecolumns,
        .homecontainer .hometwelve.homecolumns,
        .homecontainer .homethirteen.homecolumns,
        .homecontainer .homefourteen.homecolumns,
        .homecontainer .homefifteen.homecolumns,
        .homecontainer .homesixteen.homecolumns,
        .homecontainer .homeone-third.homecolumn,
        .homecontainer .hometwo-thirds.homecolumn { width: 300px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .homecontainer:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .homeclearfix:before,
    .homeclearfix:after,
    .homerow:before,
    .homerow:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .homerow:after,
    .homeclearfix:after {
      clear: both; }
    .homerow,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .homeclear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

