 
/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;   
    .#{$block-heading-selector}{
        color: $block-module-heading-color;
        a{
            color: $block-module-heading-color;
        }
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
        padding: $block-module-heading-padding;         
        font-size: $block-module-heading-font-size;
        letter-spacing: $block-heading-letter-spacing;   
        background:$block-module-heading-bg;  
        @include border-top-radius(($panel-border-radius - 1)); 
        border: $block-module-heading-border; 
        margin: 0;  
        
    }
    .#{$block-content-selector} {        
        /*padding: $block-module-content-padding;*/
        @include rounded-corners ($block-module-content-radius);
        padding: $panel-body-padding;
        @include clearfix();     
        border: 1px solid $block-module-border-color;  
        background: $block-module-content-bg;             
    }
    /* block styles */  

    .lnk{
        padding:$panel-body-padding;
    }
}
.nopadding{
    .#{$block-content-selector}{
        padding:0!important;
        margin: 0!important;
    }
}


// Contextual variations
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

// block-variant($border, $heading-text-color, $heading-bg-color, $heading-border)
.#{$block-prefix}-highlighted {
    @include block-variant($block-module-highlighted-border, $white, $block-module-highlighted-bg, $block-module-highlighted-border);
}

.#{$block-content-selector}{
    position: relative; 
    .carousel-control{
        left: auto;
        bottom:auto;
        z-index: 10;
        top: -41px;
        background:none;
        font-size: 25px;
        color: $base-text-color;
        &:hover{
            color: $theme-color-default;
        }
    }
    .carousel-control.left{        
        right: 40px;
    }
    .carousel-control.right{        
        right: 10px;
    }
   
}

/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        font-size: 35px;
    }
    .explain{
        font-size:  11px;
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
             
        font-size: $block-module-heading-font-size;
    }  
    .input-group{
        width: 98%
    }   
}
 


.sidebar {
    margin-top: 20px;    
    border-left: 1px solid #efefef;
    .block_content{
        border: none;
        &.blockstore{
            img{
                margin: 0 auto;
            }
            .link_store{                
                font-size: 13px;
                span{
                    text-align: right;
                }
                &:before{
                    content: "\00bb";
                }
            }
            > div{
                width: 100%;
                a{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    > div{
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 1px solid #efefef;        
    }
    .#{$app-brand-prefix}-custom {
       border:none;
       .#{$block-prefix}-heading {
            border:none;
            background:none;
            color:$block-module-footer-heading-color;
        }
        .#{$block-prefix}-content{
            border:none;
            padding-left:0;
            padding-right:0;
        }
    }
    .product-block{
        border-top: 1px solid $product-border-color;
        padding: 20px 10px;
        li:first-child &{
            border-top: none;
        }
        
    }
    .#{$block-selector} {
        .#{$block-heading-selector}{
            font-family: $font-family-secondary;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 0;
            @include sub-heading($page-subheading-bg,$base-heading-color);            
            padding: 0;
            text-align: center;            
            &:before, &:after{
                content:"";
                background: #000;
                display: inline-block;
                width: 35px;
                height: 1px;
                vertical-align: middle;
                margin: 0 5px;
            }  
        }  
    }  
}
#header{
    .#{$block-selector}{
        margin-bottom: 0;
    }
    .#{$block-content-selector} {
        margin-bottom: 0;
        padding: 0;
        border: none;
        background: transparent;
    }    
}


/* block style in main content */
#content{
    .#{$app-brand-prefix}-custom {
        .#{$block-content-selector} {
            border:none;
            background:none;
            color:$block-module-footer-heading-color;
        }
        .#{$block-content-selector}{
            border:none;
        }
    }     
    .#{$block-content-selector}{
        padding:0;
        margin: 0;
    }
   
}
/* block style in footer */
#footer{
    .#{$block-prefix} {
        margin-bottom: 0;
        border:none;
        .#{$block-heading-selector}{
            border:none;
            background:none;
            color:$theme-color-default;
            padding-left: 0;
            font-size: 14px;
            font-weight: bold;
            @include rtl-padding-right(20px);
            a{
                color: $theme-color-default;
            }            
        }
         .#{$block-content-selector}{
            border:none;
            padding:0;
            background: none;
        }
    }
}

.footer-top {
     .#{$block-content-selector}, a {
       
    }
}