/******************************************************
 * $package Leo Theme Framework for Leo THeme 1.6.x
 * $version 1.1
 * $author http://www.leotheme.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:leotheme$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/
body{
    &.layout-boxed-md{
        background: $white;
        #page{  
            max-width: $container-desktop + 20px; 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            background: $white;
            .container {
                max-width: $container-desktop;
            }
        }  
        
    }
    &.layout-boxed-lg{
        background: $white;
        #page{  
            max-width: $container-lg + 20px; 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            background: $white;
            .container {
                max-width: $container-lg;
            }
        }
    }
} 

.container{
    position: relative;
}

/*
* HEADER 
*/

#topbar  {
    min-height: $topbar-height; 
    font-weight: $topbar-font-weight; 
    border-bottom: $topbar-border;
    font-size: $topbar-font-size;
    background: $topbar-outside-bg;
    .container > .inner{
        @include container-layout-variant($topbar-color, $topbar-bg, $topbar-link-color, $topbar-link-hover-color ); 
        padding: $topbar-padding;  
    }
    a{
        font-size: $topbar-font-size;
    }
    .compare-form{
        width: 100px;
        display: inline;
        button{
            border: none;
            background: transparent;
            color: #858585;            
            strong{
                display: inline-block;
            } 
            &:hover{
                color: $theme-color-default;
            }           
        }
    }
    .links{  
        margin-top: -3px;             
    } 
    .links-outline{
        a{ color: $topbar-link-hover-color; }
    }    
    .btn-group{
    	position: relative;
    	background: #f3f3f3;    	
    	@include rtl-margin-right(7px);
        i{
            display: none;
        }
        &:hover{
            cursor: pointer; 
        }
    	.dropdown-toggle{
    		@include rtl-padding(5px,20px,5px,5px);
	    	&:before{
				content: "\f0d7";
				position: absolute;
				top: 6px;
				@include rtl-right(6px);
				font-family: $font-icon;
	    	}
    		.fa-cog{
				@include rtl-margin-right(5px);
    		}
    	}
    	.quick-setting{
    		padding: 10px;
    		border: none;
            color: $base-text-color;
            a{
                color: $base-text-color;
                &:hover{
                    color: $link-hover-color;
                }
            }
    	}
    }    
}

 
#header-main{
    min-height: 60px;
   // container-layout-variant($color, $background, $linkcolor,  $topbar-link-color-hover )
   background: $headermain-outside-bg;
   .container > .inner{
        @include container-layout-variant($headermain-color, $headermain-bg, $headermain-color, $headermain-color-hover );   
        padding-top: 35px;
        padding-bottom:  30px;
        a.btn{
            color: $white;            
            &:hover{color: $white;}
        }
   }
    .header-wrap{
        min-height: 94px;
        margin: 0;
    }
    &.mini-navbar{ // float header
        .container > .inner{
            padding-top: 10px;
            padding-bottom:  10px;
       }
    }
}


#header{        
    .show-mobile{ 
        @include clearfix();     
        text-align: right;       
        > div{
            margin: 0;
            padding: 0;
            position: relative;
            float: none !important;
            display: inline-block;
            &:hover{
                .inner-toggle{
                    display: block;
                }
            }
        }
        .quickaccess-toggle{
            @include size(30px, 30px);
            line-height: $line-height-computed + 7;
            text-align: center;            
            cursor: pointer;  
            border: 1px solid #dcdcdc;    
            .fa{                
                margin: 0;
                font-size: $respon-topbar-icon-font-size;
            }
            &:hover, &:focus, &:active {
                background-color: $white;
            }                 
        }
        .inner-toggle{
            color: #8c8c8c;
            display: none;
            position: absolute;            
            right: 0;
            left: auto;
            min-width: 160px;
            display: none;
            z-index: 99999;
            border: 1px solid #dcdcdc;
            background: $white;
            padding: 15px;
            text-align: left;                        
        }  
    }
 
}
#top_column{
    box-shadow: 0 30px 20px -30px rgba(0, 0, 0, 0.5);
    .carousel-control {
        display: block;
        background: rgba(0, 0, 0, 0.5);
        top: 40%;
        font-size: 60px;
        width: 35px;
        height: 65px;
        @include opacity(0.8);
        &.left, &.right{
            &::after{
                display: block;
                margin-top: -16px;                
            }   
        }
        &.left{
            left: 0px;
            &:hover{
                @include opacity(1);
            }
        }
        &.right{
            right: 0px;
            &:hover{
                @include opacity(1);
            }
        }        
    }
    .carousel-inner{ 
        img{
            width: 100%;
        }       
        .caption{
            position: absolute;
            display: block;
            top: 15%;
            left: 0;
            right: 0;
            margin: auto;
            width: 45%;
            p{
                color: #222;
                font-size: 55px;
                color: #000;
                text-transform: uppercase;
                font-weight:bold;
                text-align: justify;
            } 
            button{
                margin: 0 auto;
                display: block;
                color: #000;
                background: #222;
                margin-top: 60px;
                padding: 5px 10px;
                text-decoration: uppercase;
                color: $white;
                &:hover{
                    color: $theme-color-default;
                }
            }           

        }
        p{
            margin: 0;
        }
    }
}

##{$app-brand-prefix}-masshead {
   .container > .inner{
        @include container-layout-variant($masshead-color, $masshead-bg, $masshead-color, $masshead-color-hover );   
        padding: $masshead-content-padding;    
   }
}

/*
* NAVIGATION
*/
##{$app-brand-prefix}-megamenu {
    margin-bottom: $grid-gutter-width; 
    background: $megamenu-outside-bg;
    border-top: $megamenu-outside-border;
    border-bottom: $megamenu-outside-border;
    .container > .inner{
        @include container-layout-variant($megamenu-color, $megamenu-bg, $megamenu-color, $megamenu-color-hover);   
        padding: $megamenu-content-padding; 
        width: 100%;
        @include rtl-float-left();
        
   }
}

/*
* SLIDESHOW 
*/
##{$app-brand-prefix}-slideshow {
    
}
/*
* SHOWCASE 
*/
##{$app-brand-prefix}-showcase {

}
/*
* PROMOTION TOP 
*/
##{$app-brand-prefix}-promotion {    
    
}
/*
* MAIN CONTENT
*/  
#content {
    min-height: 400px;
    margin-bottom: 25px;
}



.wrapper-danger{

}
.wrap-outline{

}
#center_column{
    margin-top: 20px;
}

/*end*/
#bottom{
    margin-top: $grid-gutter-width;
    background: #EEEEEE;
    padding: 20px 0px;
}
/* FOOTER */
#footer{
    @include clearfix();
    background: $footer-bg;    
    min-height: $line-height-computed * 5;
    color: $footer-color;
    font-size: $footer-font-size;    
  
     ul, ol {
            list-style: none;
        li{
            padding: 6px 0px;
            font-size: 12px;
            i{
                @include rtl-padding-right(10px);
                font-size: 18px;
            }
        }
     }
     position:relative;   
}

.footer-top{
    position:relative;
    background: $footer-top-outside-bg;
    border-bottom: $footer-top-outside-border;
    .container > .inner{
        @include container-layout-variant($footer-top-color, $footer-top-bg, $footer-top-color, $footer-top-color-hover ); 
        padding: $footer-top-content-padding; 
    }
    .#{$block-heading-selector},
    .#{$block-content-selector}{
        @include rtl-float-left();
    }
}
.footer-center{
    position:relative;
    background: $footer-center-outside-bg;    
   .container > .inner{
    @include container-layout-variant($footer-center-color, $footer-center-bg, $footer-center-color, $footer-center-color-hover );   
    padding: $footer-center-content-padding;    
    overflow: hidden;
   }
}   
.footer-bottom{
    position:relative;
    background: $footer-bottom-outside-bg;
   .container > .inner{
    @include container-layout-variant($footer-bottom-color, $footer-bottom-bg, $footer-bottom-color, $footer-bottom-color-hover );   
    padding: $footer-bottom-content-padding;    
   }
}

.footer-nav{ // copyright
    text-align: center;
    position:relative;
    background: $footer-nav-outside-bg;
   .container > .inner{
    @include container-layout-variant($footer-nav-color, $footer-nav-bg, $footer-nav-color, $footer-nav-color-hover );   
    padding: $footer-nav-content-padding;    
    border-top: $footer-center-outside-border;
    overflow: hidden;
   }
   #powered{
    @include rtl-float-left();
    width: 70%;
    color: #CBCBCB;
    a{
        color: #CC2201;
        &:hover{
            text-decoration: underline;
        }
    }
   }
   #footnav{
    @include rtl-float-right();
    width: 30%;
    .title_block{
        display: none;
    }
   }

}