/* mini basket */
#cart{        
    position: relative;
    width: 100%;
    h4{
        color: $cart-heading-color;
        font-weight: normal;
        text-transform: uppercase;
        font-size: $font-size-base + 2;
        padding: 0;
        margin:0;
        display: inline-block;
        vertical-align: middle;
    }
    .content {
        clear: both;
        display: block;
        position: absolute;
        top: 100%;
        right: $cart-align-right;
        left: auto;
        padding: 15px;
        min-height: 100px;      
        height: 100px;
        height: auto !important;      
        background: $white;
        border: 1px solid $border-color;
        z-index: 99999;
        min-width: $cart-content-width;
        @include rounded-corners(0px); 
        @include box-shadow(none); 
        display: none;

    }  
    &.active{
        .content{
            display: block;
        }
    }      
    .heading {     
        @include clearfix();          
        .cart-inner{
            @include rtl-text-align-right();
            display: inline-block;
            vertical-align: middle;
            padding-top: 5px;
        }
        a{            
            @include inline-block();
            span{
                font-size: $font-size-base - 2;
            }               
        }            
    }
    .title-cart{
        display: inline-block;
        background: url(#{$image-base-path}icon-cart.png);
        padding: 12px;
    }

    .checkout {
        text-align: right;
        clear: both;
    }
    .empty {
        padding-top: 20px;
        text-align: center;
    }

    .mini-cart-total {
        text-align: right;
        td {
            color: #000;
            padding: 4px;
        }
        table {
            border-collapse: collapse;
            @include inline-block();
            margin-bottom: 5px;
        }
    }
    .mini-cart-info {
        .quantity {
            text-align: right;
        }
        .name {
            small {
                color: #666;
            }
            font-size: $cart-product-font-size;
            font-weight: bold;
        }
        td {
            color: #000;
            vertical-align: top;
            padding: 6px;
            border-bottom: 1px solid $border-color;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 5px;
        }
        .image {
            width: 1px;
            img {            
                text-align: left;
            }
        }
        .remove {
            text-align: right;
            img {
                cursor: pointer;
            }
        }
        td.total {
            text-align: right;
        }
    }

}
