/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
a {
  color: #858585;
}
a:hover, a:focus {
  color: #37bc9b;
}

.btn-outline-inverse {
  color: white;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active, .btn-outline-inverse.active {
  color: white;
  background-color: #434a54;
  border-color: #434a54;
}
.open .btn-outline-inverse.dropdown-toggle {
  color: white;
  background-color: #434a54;
  border-color: #434a54;
}
.btn-outline-inverse:active, .btn-outline-inverse.active {
  background-image: none;
}
.open .btn-outline-inverse.dropdown-toggle {
  background-image: none;
}
.btn-outline-inverse.disabled, .btn-outline-inverse.disabled:hover, .btn-outline-inverse.disabled:focus, .btn-outline-inverse.disabled:active, .btn-outline-inverse.disabled.active, .btn-outline-inverse[disabled], .btn-outline-inverse[disabled]:hover, .btn-outline-inverse[disabled]:focus, .btn-outline-inverse[disabled]:active, .btn-outline-inverse[disabled].active, fieldset[disabled] .btn-outline-inverse, fieldset[disabled] .btn-outline-inverse:hover, fieldset[disabled] .btn-outline-inverse:focus, fieldset[disabled] .btn-outline-inverse:active, fieldset[disabled] .btn-outline-inverse.active {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-outline-inverse .badge {
  color: #37bc9b;
  background-color: white;
}

.btn-outline {
  color: white;
  background-color: #434a54;
  border-color: #434a54;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.open .btn-outline.dropdown-toggle {
  color: white;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-outline:active, .btn-outline.active {
  background-image: none;
}
.open .btn-outline.dropdown-toggle {
  background-image: none;
}
.btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus, .btn-outline.disabled:active, .btn-outline.disabled.active, .btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus, .btn-outline[disabled]:active, .btn-outline[disabled].active, fieldset[disabled] .btn-outline, fieldset[disabled] .btn-outline:hover, fieldset[disabled] .btn-outline:focus, fieldset[disabled] .btn-outline:active, fieldset[disabled] .btn-outline.active {
  background-color: #434a54;
  border-color: #434a54;
}
.btn-outline .badge {
  color: #434a54;
  background-color: white;
}

.block .title_block {
  color: white;
  background: #37bc9b;
  border: none;
}
.block .title_block a {
  color: white;
}
.block .block_content {
  background: white;
}

.block-default {
  border-color: #dddddd;
}
.block-default .title_block {
  color: #333333;
  background-color: whitesmoke;
  border-color: #dddddd;
}
.block-default .title_block a {
  color: #333333;
}
.block-default .title_block + .block-collapse .block_content {
  border-top-color: #dddddd;
}
.block-default > .block-footer + .block-collapse .block-body {
  border-bottom-color: #dddddd;
}

.block-primary {
  border-color: #428bca;
}
.block-primary .title_block {
  color: white;
  background-color: #428bca;
  border-color: #428bca;
}
.block-primary .title_block a {
  color: white;
}
.block-primary .title_block + .block-collapse .block_content {
  border-top-color: #428bca;
}
.block-primary > .block-footer + .block-collapse .block-body {
  border-bottom-color: #428bca;
}

.block-success {
  border-color: #d6e9c6;
}
.block-success .title_block {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.block-success .title_block a {
  color: #3c763d;
}
.block-success .title_block + .block-collapse .block_content {
  border-top-color: #d6e9c6;
}
.block-success > .block-footer + .block-collapse .block-body {
  border-bottom-color: #d6e9c6;
}

.block-info {
  border-color: #bce8f1;
}
.block-info .title_block {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.block-info .title_block a {
  color: #31708f;
}
.block-info .title_block + .block-collapse .block_content {
  border-top-color: #bce8f1;
}
.block-info > .block-footer + .block-collapse .block-body {
  border-bottom-color: #bce8f1;
}

.block-warning {
  border-color: #faebcc;
}
.block-warning .title_block {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.block-warning .title_block a {
  color: #8a6d3b;
}
.block-warning .title_block + .block-collapse .block_content {
  border-top-color: #faebcc;
}
.block-warning > .block-footer + .block-collapse .block-body {
  border-bottom-color: #faebcc;
}

.block-danger {
  border-color: #ebccd1;
}
.block-danger .title_block {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.block-danger .title_block a {
  color: #a94442;
}
.block-danger .title_block + .block-collapse .block_content {
  border-top-color: #ebccd1;
}
.block-danger > .block-footer + .block-collapse .block-body {
  border-bottom-color: #ebccd1;
}

.block-highlighted {
  border-color: #eeeeee;
}
.block-highlighted .title_block {
  color: white;
  background-color: #ec87c0;
  border-color: #ec87c0;
}
.block-highlighted .title_block a {
  color: white;
}
.block-highlighted .title_block + .block-collapse .block_content {
  border-top-color: #eeeeee;
}
.block-highlighted > .block-footer + .block-collapse .block-body {
  border-bottom-color: #eeeeee;
}

.block_content .carousel-control {
  color: #858585;
}
.block_content .carousel-control:hover {
  color: #37bc9b;
}

#topbar {
  border-bottom: 1px solid #79818d;
  background: #656d78;
}
#topbar .container > .inner {
  background: #656d78;
  color: white;
}
#topbar .container > .inner a {
  color: white;
}
#topbar .container > .inner a:hover {
  color: #37bc9b;
}
#topbar .links-outline a {
  color: #37bc9b;
}
#topbar .btn-group .quick-setting a {
  color: #858585;
}
#topbar .btn-group .quick-setting a:hover {
  color: #37bc9b;
}

#header-main {
  background: #434a54;
}
#header-main .container > .inner {
  background: #434a54;
  color: #ccd1d9;
}
#header-main .container > .inner a {
  color: #ccd1d9;
}
#header-main .container > .inner a:hover {
  color: #37bc9b;
}

#leo-mainnav {
  background: #656d78;
  border-top: 1px solid #79818d;
  border-bottom: 1px solid #79818d;
}
#leo-mainnav .container > .inner {
  background: #656d78;
  color: #9c9c9c;
}
#leo-mainnav .container > .inner a {
  color: #9c9c9c;
}
#leo-mainnav .container > .inner a:hover {
  color: #37bc9b;
}

.footer-top {
  background: #656d78;
  border-bottom: #79818d;
}
.footer-top .container > .inner {
  background: #656d78;
  color: #ccd1d9;
}
.footer-top .container > .inner a {
  color: #ccd1d9;
}
.footer-top .container > .inner a:hover {
  color: #37bc9b;
}

.footer-center {
  background: #434a54;
  border-bottom: #79818d;
}
.footer-center .container > .inner {
  background: #434a54;
  color: #ccd1d9;
}
.footer-center .container > .inner a {
  color: #ccd1d9;
}
.footer-center .container > .inner a:hover {
  color: #37bc9b;
}

.footer-bottom {
  background: #434a54;
}
.footer-bottom .container > .inner {
  background: #434a54;
  color: #aab2bd;
}
.footer-bottom .container > .inner a {
  color: #aab2bd;
}
.footer-bottom .container > .inner a:hover {
  color: #b8bfc8;
}

.footer-nav {
  background: #656d78;
}
.footer-nav .container > .inner {
  background: #656d78;
  color: #ccd1d9;
}
.footer-nav .container > .inner a {
  color: #ccd1d9;
}
.footer-nav .container > .inner a:hover {
  color: #37bc9b;
}

.bullet.bullet-icon li a:hover:before {
  background: #37bc9b;
}

#footer #newsletter_block_left.block .title_block {
  color: #37bc9b;
}

.box-services:hover h4,
.box-services:hover .iconbox {
  color: #37bc9b;
}

.block .nav-pills > li.active > a, .block .nav-pills > li.active > a:hover, .block .nav-pills > li.active > a:focus {
  background-color: transparent;
}
.block .nav-pills > li.active > a:before {
  color: #37bc9b;
}

.content_sortPagiBar .display .selected a {
  background-color: #37bc9b;
  border: 1px solid #37bc9b;
}
.content_sortPagiBar .display .selected a .fa {
  color: white;
}

.breadcrumb {
  color: #37bc9b;
}
.breadcrumb a:hover {
  color: #37bc9b;
}

#cart h4 {
  color: #37bc9b;
}

div.verticalmenu .navbar-nav > li > a:hover, div.verticalmenu .navbar-nav > li > a:focus {
  color: #37bc9b;
}
div.verticalmenu .navbar-nav > li > a:hover .menu-title, div.verticalmenu .navbar-nav > li > a:focus .menu-title {
  color: #37bc9b;
}
div.verticalmenu .navbar-nav > li:hover > a .caret {
  border-top-color: #37bc9b;
}
div.verticalmenu ul li a:hover, div.verticalmenu ul li a:focus {
  color: #37bc9b;
}
div.verticalmenu ul li a:hover .menu-title, div.verticalmenu ul li a:focus .menu-title {
  color: #37bc9b;
}

.ajax_add_to_cart_button {
  background: #434a54;
  color: white;
  border: 1px solid #2d84b1;
}
.ajax_add_to_cart_button:hover {
  color: white;
  background: #37bc9b;
  border: 1px solid #37bc9b;
}

.price {
  color: #e9573f;
}

.product-block .name a {
  color: #434a54;
}
.product-block .name a:hover {
  color: #37bc9b;
}
.product-block .functional-buttons .wishlist .btn {
  border-left: 1px solid #31a88b;
  border-right: 1px solid #31a88b;
}
.product-block .functional-buttons:hover > div:nth-child(2) .btn {
  background: #434a54;
  border-color: #434a54;
}
.product-block .functional-buttons:hover > div:nth-child(2):hover .btn {
  background: #37bc9b;
  border-color: #37bc9b;
}

.leo-megamenu {
  /* menu level 1 */
}
.leo-megamenu .navbar-nav > li > a {
  color: #ccd1d9 !important;
}
.leo-megamenu .navbar-nav > li > a:hover, .leo-megamenu .navbar-nav > li > a:focus, .leo-megamenu .navbar-nav > li > a:active {
  color: #37bc9b !important;
  background-color: transparent;
  border-bottom: 3px solid #37bc9b;
}
.leo-megamenu .navbar-nav > li:active > a {
  color: #37bc9b;
}
.leo-megamenu .navbar-nav > li > .caret {
  color: #ccd1d9;
}
.leo-megamenu .navbar-nav > li:hover > .caret, .leo-megamenu .navbar-nav > li:active > .caret {
  color: #37bc9b;
}

#footer .block .title_block {
  color: #37bc9b;
}
#footer .block .title_block a {
  color: #37bc9b;
}
#footer #social_block a:hover:before {
  background: #37bc9b;
}

#off-canvas-nav .offcanvas-mainnav {
  background-color: #37bc9b;
}

.box-services h4 {
  color: #ccd1d9;
}

#topbar .btn-group {
  background: #aab2bd;
  border: 1px solid #aab2bd;
}

.block .page-subheading {
  padding-left: 35px;
  background: #656d78;
  color: white;
}
.block .page-subheading:before {
  left: -10px;
}
