/*-----------------------------------------------------------------------------

	-	Revolution Slider 4.1 Captions -

		Screen Stylesheet

version:   	1.4.5
date:      	27/11/13
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



/*************************
	-	CAPTIONS	-
**************************/

.hometp-hide-revslider,.hometp-caption.hometp-hidden-caption	{	visibility:hidden !important; display:none !important;}


.hometp-caption { z-index:1;}

.hometp-caption-demo .hometp-caption	{	position:relative !important; display:inline-block; margin-bottom:10px; margin-right:20px !important;}

.hometp-caption.homemedium_grey {
position:absolute;
color:#fff;
text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-weight:700;
font-size:20px;
line-height:20px;
font-family:Arial;
padding:2px 4px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#888;
white-space:nowrap;
}

.hometp-caption.homesmall_text {
position:absolute;
color:#fff;
text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-weight:700;
font-size:14px;
line-height:20px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}

.hometp-caption.homemedium_text {
position:absolute;
color:#fff;
text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-weight:700;
font-size:20px;
line-height:20px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}


.hometp-caption.homelarge_bold_white_25 {
font-size:55px;
line-height:65px;
font-weight:700;
font-family:"Open Sans";
color:#fff;
text-decoration:none;
background-color:transparent;
text-align:center;
text-shadow:#000 0px 5px 10px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.hometp-caption.homemedium_text_shadow {
font-size:25px;
line-height:25px;
font-weight:600;
font-family:"Open Sans";
color:#fff;
text-decoration:none;
background-color:transparent;
text-align:center;
text-shadow:#000 0px 5px 10px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.hometp-caption.homelarge_text {
position:absolute;
color:#fff;
text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-weight:700;
font-size:40px;
line-height:40px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}

.hometp-caption.homevery_large_text {
position:absolute;
color:#fff;
text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-weight:700;
font-size:60px;
line-height:60px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
letter-spacing:-2px;
}

.hometp-caption.homevery_big_white {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:800;
font-size:60px;
line-height:60px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
padding:0px 4px;
padding-top:1px;
background-color:#000;
}

.hometp-caption.homevery_big_black {
position:absolute;
color:#000;
text-shadow:none;
font-weight:700;
font-size:60px;
line-height:60px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
padding:0px 4px;
padding-top:1px;
background-color:#fff;
}

.hometp-caption.homemodern_medium_fat {
position:absolute;
color:#000;
text-shadow:none;
font-weight:800;
font-size:24px;
line-height:20px;
font-family:"Open Sans", sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}

.hometp-caption.homemodern_medium_fat_white {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:800;
font-size:24px;
line-height:20px;
font-family:"Open Sans", sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}

.hometp-caption.homemodern_medium_light {
position:absolute;
color:#000;
text-shadow:none;
font-weight:300;
font-size:24px;
line-height:20px;
font-family:"Open Sans", sans-serif;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}

.hometp-caption.homemodern_big_bluebg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:800;
font-size:30px;
line-height:36px;
font-family:"Open Sans", sans-serif;
padding:3px 10px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#4e5b6c;
letter-spacing:0;
}

.hometp-caption.homemodern_big_redbg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:30px;
line-height:36px;
font-family:"Open Sans", sans-serif;
padding:3px 10px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#de543e;
letter-spacing:0;
}

.hometp-caption.homemodern_small_text_dark {
position:absolute;
color:#555;
text-shadow:none;
font-size:14px;
line-height:22px;
font-family:Arial;
margin:0px;
border-width:0px;
border-style:none;
white-space:nowrap;
}

.hometp-caption.homeboxshadow {
-moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
}

.hometp-caption.homeblack {
color:#000;
text-shadow:none;
}

.hometp-caption.homenoshadow {
text-shadow:none;
}

.hometp-caption a {
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
}

.hometp-caption a:hover {
color:#ffa902;
}

.hometp-caption.homethinheadline_dark {
position:absolute;
color:rgba(0,0,0,0.85);
text-shadow:none;
font-weight:300;
font-size:30px;
line-height:30px;
font-family:"Open Sans";
background-color:transparent;
}

.hometp-caption.homethintext_dark {
position:absolute;
color:rgba(0,0,0,0.85);
text-shadow:none;
font-weight:300;
font-size:16px;
line-height:26px;
font-family:"Open Sans";
background-color:transparent;
}

.hometp-caption.homemedium_bg_red a {
	color: #fff;
    text-decoration: none;
}

.hometp-caption.homemedium_bg_red a:hover {
	color: #fff;
    text-decoration: underline;
}

.hometp-caption.homesmoothcircle {
font-size:30px;
line-height:75px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(0, 0, 0);
background-color:rgba(0, 0, 0, 0.498039);
padding:50px 25px;
text-align:center;
border-radius:500px 500px 500px 500px;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.hometp-caption.homelargeblackbg {
font-size:50px;
line-height:70px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(0, 0, 0);
padding:0px 20px 5px;
text-shadow:none;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.hometp-caption.homelargepinkbg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:50px;
line-height:70px;
font-family:"Open Sans";
background-color:#db4360;
padding:0px 20px;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

.hometp-caption.homelargewhitebg {
position:absolute;
color:#000;
text-shadow:none;
font-weight:300;
font-size:50px;
line-height:70px;
font-family:"Open Sans";
background-color:#fff;
padding:0px 20px;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

.hometp-caption.homelargegreenbg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:50px;
line-height:70px;
font-family:"Open Sans";
background-color:#67ae73;
padding:0px 20px;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

.hometp-caption.homeexcerpt {
font-size:36px;
line-height:36px;
font-weight:700;
font-family:Arial;
color:#ffffff;
text-decoration:none;
background-color:rgba(0, 0, 0, 1);
text-shadow:none;
margin:0px;
letter-spacing:-1.5px;
padding:1px 4px 0px 4px;
width:150px;
white-space:normal !important;
height:auto;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.hometp-caption.homelarge_bold_grey {
font-size:60px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:rgb(102, 102, 102);
text-decoration:none;
background-color:transparent;
text-shadow:none;
margin:0px;
padding:1px 4px 0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_thin_grey {
font-size:34px;
line-height:30px;
font-weight:300;
font-family:"Open Sans";
color:rgb(102, 102, 102);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homesmall_thin_grey {
font-size:18px;
line-height:26px;
font-weight:300;
font-family:"Open Sans";
color:rgb(117, 117, 117);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homelightgrey_divider {
text-decoration:none;
background-color:rgba(235, 235, 235, 1);
width:370px;
height:3px;
background-position:initial initial;
background-repeat:initial initial;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.hometp-caption.homelarge_bold_darkblue {
font-size:58px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:rgb(52, 73, 94);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_bg_darkblue {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(52, 73, 94);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_bold_red {
font-size:24px;
line-height:30px;
font-weight:800;
font-family:"Open Sans";
color:rgb(227, 58, 12);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_light_red {
font-size:21px;
line-height:26px;
font-weight:300;
font-family:"Open Sans";
color:rgb(227, 58, 12);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_bg_red {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(227, 58, 12);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_bold_orange {
font-size:24px;
line-height:30px;
font-weight:800;
font-family:"Open Sans";
color:rgb(243, 156, 18);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_bg_orange {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(243, 156, 18);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homegrassfloor {
text-decoration:none;
background-color:rgba(160, 179, 151, 1);
width:4000px;
height:150px;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.hometp-caption.homelarge_bold_white {
font-size:58px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_light_white {
font-size:30px;
line-height:36px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemediumlarge_light_white {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemediumlarge_light_white_center {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:#ffffff;
text-decoration:none;
background-color:transparent;
padding:0px 0px 0px 0px;
text-align:center;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_bg_asbestos {
font-size:16px;
line-height:20px;
font-weight:400;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgba(0, 0, 0, 0.home6);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemedium_light_black {
font-size:30px;
line-height:36px;
font-weight:300;
font-family:"Open Sans";
color:rgb(0, 0, 0);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homelarge_bold_black {
font-size:58px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:rgb(0, 0, 0);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemediumlarge_light_darkblue {
font-size:34px;
line-height:40px;
font-weight:300;
font-family:"Open Sans";
color:rgb(52, 73, 94);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homesmall_light_white {
font-size:17px;
line-height:28px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homeroundedimage {
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.hometp-caption.homelarge_bg_black {
font-size:40px;
line-height:40px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(0, 0, 0);
padding:10px 20px 15px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.hometp-caption.homemediumwhitebg {
font-size:30px;
line-height:30px;
font-weight:300;
font-family:"Open Sans";
color:rgb(0, 0, 0);
text-decoration:none;
background-color:rgb(255, 255, 255);
padding:5px 15px 10px;
text-shadow:none;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

.hometp-caption.homemedium_bg_orange_new1 {
font-size:20px;
line-height:20px;
font-weight:800;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(243, 156, 18);
padding:10px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}



.hometp-caption.homeboxshadow{
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

.hometp-caption.homeblack{
		color: #000;
		text-shadow: none;
		font-weight: 300;
		font-size: 19px;
		line-height: 19px;
		font-family: 'Open Sans', sans;
	}

.hometp-caption.homenoshadow {
		text-shadow: none;
	}


.hometp_inner_padding	{	box-sizing:border-box;
						-webkit-box-sizing:border-box;
						-moz-box-sizing:border-box;
						max-height:none !important;	}


/*.tp-caption			{	transform:none !important}*/


/*********************************
	-	SPECIAL TP CAPTIONS -
**********************************/
.hometp-caption .homefrontcorner		{
										width: 0;
										height: 0;
										border-left: 40px solid transparent;
										border-right: 0px solid transparent;
										border-top: 40px solid #00A8FF;
										position: absolute;left:-40px;top:0px;
									}

.hometp-caption .homebackcorner		{
										width: 0;
										height: 0;
										border-left: 0px solid transparent;
										border-right: 40px solid transparent;
										border-bottom: 40px solid #00A8FF;
										position: absolute;right:0px;top:0px;
									}

.hometp-caption .homefrontcornertop		{
										width: 0;
										height: 0;
										border-left: 40px solid transparent;
										border-right: 0px solid transparent;
										border-bottom: 40px solid #00A8FF;
										position: absolute;left:-40px;top:0px;
									}

.hometp-caption .homebackcornertop		{
										width: 0;
										height: 0;
										border-left: 0px solid transparent;
										border-right: 40px solid transparent;
										border-top: 40px solid #00A8FF;
										position: absolute;right:0px;top:0px;
									}

/******************************
	-	BUTTONS	-
*******************************/

.hometp-simpleresponsive .homebutton				{	padding:6px 13px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height:30px;
												cursor:pointer;
												color:#fff !important; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6) !important; font-size:15px; line-height:45px !important;
												background:url(../images/gradient/g30.png) repeat-x top; font-family: arial, sans-serif; font-weight: bold; letter-spacing: -1px;
											}

.hometp-simpleresponsive  .homebutton.homebig			{	color:#fff; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6); font-weight:bold; padding:9px 20px; font-size:19px;  line-height:57px !important; background:url(../images/gradient/g40.png) repeat-x top;}


.hometp-simpleresponsive  .homepurchase:hover,
.hometp-simpleresponsive  .homebutton:hover,
.hometp-simpleresponsive  .homebutton.homebig:hover		{	background-position:bottom, 15px 11px;}



	@media only screen and (min-width: 768px) and (max-width: 959px) {

	 }



	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.hometp-simpleresponsive  .homebutton	{	padding:4px 8px 3px; line-height:25px !important; font-size:11px !important;font-weight:normal;	}
		.hometp-simpleresponsive  a.homebutton { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }


	}

    @media only screen and (min-width: 0px) and (max-width: 479px) {
		.hometp-simpleresponsive  .homebutton	{	padding:2px 5px 2px; line-height:20px !important; font-size:10px !important;}
		.hometp-simpleresponsive  a.homebutton { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }
	}





/*	BUTTON COLORS	*/



.hometp-simpleresponsive  .homebutton.homegreen, .hometp-simpleresponsive  .homebutton:hover.homegreen,
.hometp-simpleresponsive  .homepurchase.homegreen, .hometp-simpleresponsive  .homepurchase:hover.homegreen			{ background-color:#21a117; -webkit-box-shadow:  0px 3px 0px 0px #104d0b;        -moz-box-shadow:   0px 3px 0px 0px #104d0b;        box-shadow:   0px 3px 0px 0px #104d0b;  }


.hometp-simpleresponsive  .homebutton.homeblue, .hometp-simpleresponsive  .homebutton:hover.homeblue,
.hometp-simpleresponsive  .homepurchase.homeblue, .hometp-simpleresponsive  .homepurchase:hover.homeblue			{ background-color:#1d78cb; -webkit-box-shadow:  0px 3px 0px 0px #0f3e68;        -moz-box-shadow:   0px 3px 0px 0px #0f3e68;        box-shadow:   0px 3px 0px 0px #0f3e68;}


.hometp-simpleresponsive  .homebutton.homered, .hometp-simpleresponsive  .homebutton:hover.homered,
.hometp-simpleresponsive  .homepurchase.homered, .hometp-simpleresponsive  .homepurchase:hover.homered				{ background-color:#cb1d1d; -webkit-box-shadow:  0px 3px 0px 0px #7c1212;        -moz-box-shadow:   0px 3px 0px 0px #7c1212;        box-shadow:   0px 3px 0px 0px #7c1212;}

.hometp-simpleresponsive  .homebutton.homeorange, .hometp-simpleresponsive  .homebutton:hover.homeorange,
.hometp-simpleresponsive  .homepurchase.homeorange, .hometp-simpleresponsive  .homepurchase:hover.homeorange		{ background-color:#ff7700; -webkit-box-shadow:  0px 3px 0px 0px #a34c00;        -moz-box-shadow:   0px 3px 0px 0px #a34c00;        box-shadow:   0px 3px 0px 0px #a34c00;}

.hometp-simpleresponsive  .homebutton.homedarkgrey, .hometp-simpleresponsive  .homebutton.homegrey,
.hometp-simpleresponsive  .homebutton:hover.homedarkgrey, .hometp-simpleresponsive  .homebutton:hover.homegrey,
.hometp-simpleresponsive  .homepurchase.homedarkgrey, .hometp-simpleresponsive  .homepurchase:hover.homedarkgrey	{ background-color:#555; -webkit-box-shadow:  0px 3px 0px 0px #222;        -moz-box-shadow:   0px 3px 0px 0px #222;        box-shadow:   0px 3px 0px 0px #222;}

.hometp-simpleresponsive  .homebutton.homelightgrey, .hometp-simpleresponsive  .homebutton:hover.homelightgrey,
.hometp-simpleresponsive  .homepurchase.homelightgrey, .hometp-simpleresponsive  .homepurchase:hover.homelightgrey	{ background-color:#888; -webkit-box-shadow:  0px 3px 0px 0px #555;        -moz-box-shadow:   0px 3px 0px 0px #555;        box-shadow:   0px 3px 0px 0px #555;}



/****************************************************************

	-	SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID   -

******************************************************************/

/*.tp-simpleresponsive				{	-webkit-perspective: 1500px;
										-moz-perspective: 1500px;
										-o-perspective: 1500px;
										-ms-perspective: 1500px;
										perspective: 1500px;
									}*/




/**********************************************
	-	FULLSCREEN AND FULLWIDHT CONTAINERS	-
**********************************************/

.homefullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}



.homefullwidthbanner-container{
	width:100%;
	position:relative;
	padding:0;
	overflow:hidden;
}

.homefullwidthbanner-container .homefullwidthbanner{
	width:100%;
	position:relative;
}



/************************************************
	  - SOME CAPTION MODIFICATION AT START  -
*************************************************/
.hometp-simpleresponsive .homecaption,
.hometp-simpleresponsive .hometp-caption {
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";		-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; */
	position:absolute;visibility: hidden;
	-webkit-font-smoothing: antialiased !important;
}


.hometp-simpleresponsive img	{	max-width:none;}



/******************************
	-	IE8 HACKS	-
*******************************/
.homenoFilterClass {
	filter:none !important;
}


/******************************
	-	SHADOWS		-
******************************/
.hometp-bannershadow  {
		position:absolute;

		margin-left:auto;
		margin-right:auto;
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}

.hometp-bannershadow.hometp-shadow1 {	background:url(../content/assets/shadow1.png) no-repeat; background-size:100% 100%; width:890px; height:60px; bottom:-60px;}
.hometp-bannershadow.hometp-shadow2 {	background:url(../content/assets/shadow2.png) no-repeat; background-size:100% 100%; width:890px; height:60px;bottom:-60px;}
.hometp-bannershadow.hometp-shadow3 {	background:url(../content/assets/shadow3.png) no-repeat; background-size:100% 100%; width:890px; height:60px;bottom:-60px;}


/********************************
	-	FULLSCREEN VIDEO	-
*********************************/
.homecaption.homefullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.homecaption.homefullscreenvideo iframe,
.homecaption.homefullscreenvideo video	{ width:100% !important; height:100% !important; display: none}

.hometp-caption.homefullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.hometp-caption.homefullscreenvideo iframe,
.hometp-caption.homefullscreenvideo iframe video	{ width:100% !important; height:100% !important; display: none;}


.homefullscreenvideo .homevjs-loading-spinner { visibility:none;display:none !important; width:0px;height:0px;}
.homefullscreenvideo .homevjs-control-bar.homevjs-fade-out,
.homefullscreenvideo .homevjs-control-bar.homevjs-fade-in,
.homefullscreenvideo .homevjs-control-bar.homevjs-fade-out.homevjs-lock-showing,
.homefullscreenvideo .homevjs-control-bar.homevjs-fade-in.homevjs-lock-showing		{	visibility: hidden !important; opacity: 0 !important;display:none !important;width:0px;height:0px;overflow: hidden;}

.homefullcoveredvideo.homevideo-js,
.homefullcoveredvideo video				{	background: transparent !important;}

.homefullcoveredvideo .homevjs-poster		{	background-position: center center;background-size: cover;width:100%;height:100%;top:0px;left:0px;}

/********************************
	-	DOTTED OVERLAYS	-
*********************************/
.hometp-dottedoverlay						{	background-repeat:repeat;width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:1;}
.hometp-dottedoverlay.hometwoxtwo				{	background:url(../content/assets/gridtile.png)}
.hometp-dottedoverlay.hometwoxtwowhite			{	background:url(../content/assets/gridtile_white.png)}
.hometp-dottedoverlay.homethreexthree			{	background:url(../content/assets/gridtile_3x3.png)}
.hometp-dottedoverlay.homethreexthreewhite		{	background:url(../content/assets/gridtile_3x3_white.png)}
/********************************
	-	DOTTED OVERLAYS ENDS	-
*********************************/


/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/

.hometpclear		{	clear:both;}


.hometp-bullets									{	z-index:1000; position:absolute;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
												-moz-opacity: 1;
												-khtml-opacity: 1;
												opacity: 1;
												-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;-webkit-transform: translateZ(5px);
											}
.hometp-bullets.homehidebullets					{
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
												-moz-opacity: 0;
												-khtml-opacity: 0;
												opacity: 0;
											}


.hometp-bullets.homesimplebullets.homenavbar						{ 	border:1px solid #666; border-bottom:1px solid #444; background:url(../content/assets/boxed_bgtile.png); height:40px; padding:0px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;}

.hometp-bullets.homesimplebullets.homenavbar-old					{ 	 background:url(../content/assets/navigdots_bgtile.png); height:35px; padding:0px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;}


.hometp-bullets.homesimplebullets.homeround .homebullet					{	cursor:pointer; position:relative;	background:url(../content/assets/bullet.png) no-Repeat top left;	width:20px;	height:20px;  margin-right:0px; float:left; margin-top:0px; margin-left:3px;}
.hometp-bullets.homesimplebullets.homeround .homebullet.homelast			{	margin-right:3px;}

.hometp-bullets.homesimplebullets.homeround-old .homebullet				{	cursor:pointer; position:relative;	background:url(../content/assets/bullets.png) no-Repeat bottom left;	width:23px;	height:23px;  margin-right:0px; float:left; margin-top:0px;}
.hometp-bullets.homesimplebullets.homeround-old .homebullet.homelast		{	margin-right:0px;}


/**	SQUARE BULLETS **/
.hometp-bullets.homesimplebullets.homesquare .homebullet				{	cursor:pointer; position:relative;	background:url(../content/assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:0px;}
.hometp-bullets.homesimplebullets.homesquare .homebullet.homelast			{	margin-right:0px;}


/**	SQUARE BULLETS **/
.hometp-bullets.homesimplebullets.homesquare-old .homebullet			{	cursor:pointer; position:relative;	background:url(../content/assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:0px;}
.hometp-bullets.homesimplebullets.homesquare-old .homebullet.homelast		{	margin-right:0px;}


/** navbar NAVIGATION VERSION **/
.hometp-bullets.homesimplebullets.homenavbar .homebullet			{	cursor:pointer; position:relative;	background:url(../content/assets/bullet_boxed.png) no-Repeat top left;	width:18px;	height:19px;   margin-right:5px; float:left; margin-top:0px;}

.hometp-bullets.homesimplebullets.homenavbar .homebullet.homefirst		{	margin-left:0px !important;}
.hometp-bullets.homesimplebullets.homenavbar .homebullet.homelast		{	margin-right:0px !important;}



/** navbar NAVIGATION VERSION **/
.hometp-bullets.homesimplebullets.homenavbar-old .homebullet			{	cursor:pointer; position:relative;	background:url(../content/assets/navigdots.png) no-Repeat bottom left;	width:15px;	height:15px;  margin-left:5px !important; margin-right:5px !important;float:left; margin-top:10px;}
.hometp-bullets.homesimplebullets.homenavbar-old .homebullet.homefirst		{	margin-left:0px !important;}
.hometp-bullets.homesimplebullets.homenavbar-old .homebullet.homelast		{	margin-right:0px !important;}


.hometp-bullets.homesimplebullets .homebullet:hover,
.hometp-bullets.homesimplebullets .homebullet.homeselected				{	background-position:top left; }

.hometp-bullets.homesimplebullets.homeround .homebullet:hover,
.hometp-bullets.homesimplebullets.homeround .homebullet.homeselected,
.hometp-bullets.homesimplebullets.homenavbar .homebullet:hover,
.hometp-bullets.homesimplebullets.homenavbar .homebullet.homeselected		{	background-position:bottom left; }



/*************************************
	-	TP ARROWS 	-
**************************************/
.hometparrows												{	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
															-moz-opacity: 1;
															-khtml-opacity: 1;
															opacity: 1;
															-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;			-webkit-transform: translateZ(5px);

														}
.hometparrows.homehidearrows									{
															-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
															-moz-opacity: 0;
															-khtml-opacity: 0;
															opacity: 0;
														}
.hometp-leftarrow											{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/large_left.png) no-Repeat top left;	width:40px;	height:40px;   }
.hometp-rightarrow											{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/large_right.png) no-Repeat top left;	width:40px;	height:40px;   }


.hometp-leftarrow.homeround										{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/small_left.png) no-Repeat top left;	width:19px;	height:14px;  margin-right:0px; float:left; margin-top:0px;	}
.hometp-rightarrow.round									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/small_right.png) no-Repeat top left;	width:19px;	height:14px;  margin-right:0px; float:left;	margin-top:0px;}


.hometp-leftarrow.homeround-old									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrow_left.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left; margin-top:0px;	}
.hometp-rightarrow.homeround-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrow_right.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left;	margin-top:0px;}


.hometp-leftarrow.homenavbar									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/small_left_boxed.png) no-Repeat top left;	width:20px;	height:15px;   float:left;	margin-right:6px; margin-top:12px;}
.hometp-rightarrow.homenavbar									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/small_right_boxed.png) no-Repeat top left;	width:20px;	height:15px;   float:left;	margin-left:6px; margin-top:12px;}


.hometp-leftarrow.homenavbar-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrowleft.png) no-Repeat top left;		width:9px;	height:16px;   float:left;	margin-right:6px; margin-top:10px;}
.hometp-rightarrow.homenavbar-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrowright.png) no-Repeat top left;	width:9px;	height:16px;   float:left;	margin-left:6px; margin-top:10px;}

.hometp-leftarrow.homenavbar-old.homethumbswitharrow				{	margin-right:10px; }
.hometp-rightarrow.homenavbar-old.homethumbswitharrow				{	margin-left:0px; }

.hometp-leftarrow.homesquare									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrow_left2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-right:0px; margin-top:0px;}
.hometp-rightarrow.homesquare									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrow_right2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-left:0px; margin-top:0px;}


.hometp-leftarrow.homesquare-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrow_left2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-right:0px; margin-top:0px;}
.hometp-rightarrow.homesquare-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/arrow_right2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-left:0px; margin-top:0px;}


.hometp-leftarrow.homedefault									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/large_left.png) no-Repeat 0 0;	width:40px;	height:40px;

														}
.hometp-rightarrow.homedefault									{	z-index:100;cursor:pointer; position:relative;	background:url(../content/assets/large_right.png) no-Repeat 0 0;	width:40px;	height:40px;

														}




.hometp-leftarrow:hover,
.hometp-rightarrow:hover 									{	background-position:bottom left; }






/****************************************************************************************************
	-	TP THUMBS 	-
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.hometp-bullets.hometp-thumbs						{	z-index:1000; position:absolute; padding:3px;background-color:#fff;
												width:500px;height:50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												margin-top:-50px;
											}


.homefullwidthbanner-container .hometp-thumbs		{  padding:3px;}

.hometp-bullets.hometp-thumbs .hometp-mask				{	width:500px; height:50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												overflow:hidden; position:relative;}


.hometp-bullets.hometp-thumbs .hometp-mask .hometp-thumbcontainer	{	width:5000px; position:absolute;}

.hometp-bullets.hometp-thumbs .homebullet				{   width:100px; height:50px; 			/* THE DIMENSION OF A SINGLE THUMB */
												cursor:pointer; overflow:hidden;background:none;margin:0;float:left;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
												/*filter: alpha(opacity=50);	*/
												-moz-opacity: 0.5;
												-khtml-opacity: 0.5;
												opacity: 0.5;

												-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;
											}


.hometp-bullets.hometp-thumbs .homebullet:hover,
.hometp-bullets.hometp-thumbs .homebullet.homeselected		{ 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

												-moz-opacity: 1;
												-khtml-opacity: 1;
												opacity: 1;
											}
.hometp-thumbs img								{	width:100%; }


/************************************
		-	TP BANNER TIMER		-
*************************************/
.hometp-bannertimer								{	width:100%; height:10px;position:absolute; z-index:200;top:0px;}
.hometp-bannertimer.hometp-bottom					{	bottom:0px;height:5px; top:auto;}




/***************************************
	-	RESPONSIVE SETTINGS 	-
****************************************/




    @media only screen and (min-width: 0px) and (max-width: 479px) {
				.homeresponsive .hometp-bullets	{	display:none}
				.homeresponsive .hometparrows	{	display:none;}
	}


/******************************
	-	HTML5 VIDEO SETTINGS	-
********************************/

.homevjs-tech { margin-top:1px}

.hometp-caption .homevjs-default-skin .homevjs-big-play-button	{	left: 50%;
top: 50%;
margin-left: -20px;
margin-top: -20px;
width: 40px;
height: 40px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: none;
box-shadow: none;
text-shadow: none;
line-height: 30px;
vertical-align: top;
padding: 0px;
}

.hometp-caption .homevjs-default-skin .homevjs-big-play-button:before {
 position:absolute;
 top:0px; left:0px;
 line-height:40px;
 text-shadow: none !important;
 color:#fff;
 font-size:18px;

}

.hometp-caption  .homevjs-default-skin:hover .homevjs-big-play-button, .homevjs-default-skin .homevjs-big-play-button:focus {

	box-shadow:none;
	-webkit-box-shadow:none;

}



/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

 .hometp-simpleresponsive img {
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}



.hometp-simpleresponsive a{	text-decoration:none;}

.hometp-simpleresponsive ul {
	list-style:none;
	padding:0;
	margin:0;
}

.hometp-simpleresponsive >ul >li{
	list-stye:none;
	position:absolute;
	visibility:hidden;
}
/*  CAPTION SLIDELINK   **/
.homecaption.homeslidelink a div,
.hometp-caption.homeslidelink a div {	width:3000px; height:1500px;  background:url(../content/assets/coloredbg.png) repeat;}

.hometp-loader 	{	background:url(../content/assets/loader.gif) no-repeat 10px 10px; background-color:#fff;  margin:-22px -22px; top:50%; left:50%; z-index:10000; position:absolute;width:44px;height:44px;
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}


.hometp-transparentimg {	content:"url(../content/assets/transparent.png)"}
.hometp-3d				{	-webkit-transform-style: preserve-3d;
						 -webkit-transform-origin: 50% 50%;
					}



.hometp-caption img {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
zoom: 1;
}


@font-face {
  font-family: 'revicons';
  src: url('../font/revicons90c6.eot?5510888');
  src: url('../font/revicons90c6.eot?5510888#iefix') format('embedded-opentype'),
       url('../font/revicons90c6.woff?5510888') format('woff'),
       url('../font/revicons90c6.ttf?5510888') format('truetype'),
       url('../font/revicons90c6.svg?5510888#revicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'revicons';
    src: url('../font/revicons.svg?5510888#revicons') format('svg');
  }
}
*/

 [class^="revicon-"]:before, [class*=" revicon-"]:before {
  font-family: "revicons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.homerevicon-search-1:before { content: '\e802'; } /* '' */
.homerevicon-pencil-1:before { content: '\e831'; } /* '' */
.homerevicon-picture-1:before { content: '\e803'; } /* '' */
.homerevicon-cancel:before { content: '\e80a'; } /* '' */
.homerevicon-info-circled:before { content: '\e80f'; } /* '' */
.homerevicon-trash:before { content: '\e801'; } /* '' */
.homerevicon-left-dir:before { content: '\e817'; } /* '' */
.homerevicon-right-dir:before { content: '\e818'; } /* '' */
.homerevicon-down-open:before { content: '\e83b'; } /* '' */
.homerevicon-left-open:before { content: '\e819'; } /* '' */
.homerevicon-right-open:before { content: '\e81a'; } /* '' */
.homerevicon-angle-left:before { content: '\e820'; } /* '' */
.homerevicon-angle-right:before { content: '\e81d'; } /* '' */
.homerevicon-left-big:before { content: '\e81f'; } /* '' */
.homerevicon-right-big:before { content: '\e81e'; } /* '' */
.homerevicon-magic:before { content: '\e807'; } /* '' */
.homerevicon-picture:before { content: '\e800'; } /* '' */
.homerevicon-export:before { content: '\e80b'; } /* '' */
.homerevicon-cog:before { content: '\e832'; } /* '' */
.homerevicon-login:before { content: '\e833'; } /* '' */
.homerevicon-logout:before { content: '\e834'; } /* '' */
.homerevicon-video:before { content: '\e805'; } /* '' */
.homerevicon-arrow-combo:before { content: '\e827'; } /* '' */
.homerevicon-left-open-1:before { content: '\e82a'; } /* '' */
.homerevicon-right-open-1:before { content: '\e82b'; } /* '' */
.homerevicon-left-open-mini:before { content: '\e822'; } /* '' */
.homerevicon-right-open-mini:before { content: '\e823'; } /* '' */
.homerevicon-left-open-big:before { content: '\e824'; } /* '' */
.homerevicon-right-open-big:before { content: '\e825'; } /* '' */
.homerevicon-left:before { content: '\e836'; } /* '' */
.homerevicon-right:before { content: '\e826'; } /* '' */
.homerevicon-ccw:before { content: '\e808'; } /* '' */
.homerevicon-arrows-ccw:before { content: '\e806'; } /* '' */
.homerevicon-palette:before { content: '\e829'; } /* '' */
.homerevicon-list-add:before { content: '\e80c'; } /* '' */
.homerevicon-doc:before { content: '\e809'; } /* '' */
.homerevicon-left-open-outline:before { content: '\e82e'; } /* '' */
.homerevicon-left-open-2:before { content: '\e82c'; } /* '' */
.homerevicon-right-open-outline:before { content: '\e82f'; } /* '' */
.homerevicon-right-open-2:before { content: '\e82d'; } /* '' */
.homerevicon-equalizer:before { content: '\e83a'; } /* '' */
.homerevicon-layers-alt:before { content: '\e804'; } /* '' */
.homerevicon-popup:before { content: '\e828'; } /* '' */