/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/* primary_block ***************************************************************************** */
.primary_block {
  margin-bottom: 40px;
}

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
}

.box-security .product-heading-h5 {
  margin: 3px 0 -8px;
}

#productscategory_list .product-name,
.accessories-block .product-name {
  margin-bottom: 5px;
}
#productscategory_list .product-name a,
.accessories-block .product-name a {
  font-size: 15px;
  line-height: 18px;
  color: #434a54;
}
#productscategory_list .product-name a:hover,
.accessories-block .product-name a:hover {
  color: #2d84b1;
}

img {
  max-width: 100%;
  height: auto;
}

/* .pb-left-column ***************************************************************************** */

@media (max-width: 880px) {
  .pb-left-column {
  width: 121.66667%!important
}
}


.pb-left-column {
  width: 41.66667%;
}


.pb-left-column .new-box {
  left: 15px;
}
.pb-left-column #image-block {
  position: relative;
  padding: 5px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}
.pb-left-column #image-block img {
  width: 100%;
}
.pb-left-column #image-block #view_full_size {
  display: block;
  cursor: pointer;
  text-align: center;
}
.pb-left-column #image-block #view_full_size a {
  display: inline-block;
}
.pb-left-column #image-block #view_full_size .span_link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  padding: 4px;
  text-align: center;
  line-height: 20px;
}
.rtl .pb-left-column #image-block #view_full_size .span_link {
  left: 10px;
  right: auto;
}
.pb-left-column #image-block #view_full_size .span_link:after {
  font-family: "FontAwesome";
  color: #c0c0c0;
  font-size: 20px;
  line-height: 20px;
  content: "\f00e";
  font-weight: normal;
  margin: 0 0 0 2px;
}
.rtl .pb-left-column #image-block #view_full_size .span_link:after {
  margin: 0 2px 0 0;
}
.pb-left-column #image-block #view_full_size .span_link:hover:after {
  color: white;
}
.pb-left-column #image-block a.jqzoom div div img {
  width: auto;
  max-width: 10000px;
}
.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
  border: none;
}
.pb-left-column #image-block .zoomPad {
  z-index: auto!important;
}
.pb-left-column #views_block {
  position: relative;
}

#thumbs_list {
  overflow: hidden;
  float: left;
  width: 330px;
  margin-left: 5px;
}
.rtl #thumbs_list {
  float: right;
}
.rtl #thumbs_list {
  margin-right: 5px;
  margin-left: inherit;
}
#thumbs_list ul#thumbs_list_frame {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  margin: 0;
  height: 90px;
}
.rtl #thumbs_list ul#thumbs_list_frame {
  padding-right: 0;
  padding-left: inherit;
}
#thumbs_list li {
  float: left;
  height: 80px;
  width: 75px;
  cursor: pointer;
  border: 1px solid #eeeeee;
  margin-right: 8px;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rtl #thumbs_list li {
  float: right;
}
.rtl #thumbs_list li {
  margin-left: 8px;
  margin-right: inherit;
}
#thumbs_list li:first-child {
  margin: 0 9px 0 0;
}
.rtl #thumbs_list li:first-child {
  margin: 0 0 0 9px;
}
#thumbs_list li.last {
  margin-right: 0;
}
.rtl #thumbs_list li.last {
  margin-left: 0;
  margin-right: inherit;
}
#thumbs_list li a {
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
}
#thumbs_list li img {
  margin: 5px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.primary_block span.view_scroll_spacer {
  float: left;
  width: 20px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: -6px;
  z-index: 1000;
}
.rtl .primary_block span.view_scroll_spacer {
  float: right;
}
.rtl .primary_block span.view_scroll_spacer {
  right: -6px;
  left: auto;
}

#view_scroll_left,
#view_scroll_right {
  height: 20px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  z-index: 1000;
}
#view_scroll_left:before,
#view_scroll_right:before {
  color: black;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 22px;
}
#view_scroll_left:hover:before,
#view_scroll_right:hover:before {
  color: #434a54;
}

#view_scroll_right {
  right: -10px;
}
.rtl #view_scroll_right {
  left: -10px;
  right: auto;
}
#view_scroll_right:before {
  content: "\f054";
}

#view_scroll_left {
  margin-top: 0;
}
#view_scroll_left:before {
  content: "\f053";
  padding-right: 2px;
}

.resetimg {
  padding: 10px 0 0;
}
.resetimg #resetImages i {
  margin-right: 6px;
}
.rtl .resetimg #resetImages i {
  margin-left: 6px;
  margin-right: inherit;
}

/* link list */
#usefull_link_block {
  list-style-type: none;
}
#usefull_link_block li {
  margin: 0 0 8px 0;
}
#usefull_link_block li:first-child {
  margin: 0 0 8px 0;
  border: none;
  padding: 0;
}
#usefull_link_block li a {
  position: relative;
  padding-left: 25px;
  line-height: 22px;
  display: inline-block;
  font-weight: 500;
}
.rtl #usefull_link_block li a {
  padding-right: 25px;
  padding-left: inherit;
}
#usefull_link_block li a:before {
  font-family: "FontAwesome";
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left: 0;
  font-weight: normal;
}
.rtl #usefull_link_block li a:before {
  right: 0;
  left: auto;
}
#usefull_link_block li a:hover:before {
  color: #434a54;
}
#usefull_link_block li.print a:before {
  content: "\f02f";
}
#usefull_link_block li.sendtofriend a:before {
  content: "\f003";
}
#usefull_link_block li#left_share_fb {
  clear: both;
  float: none;
}
#usefull_link_block li#left_share_fb a {
  padding-left: 18px;
}
#usefull_link_block li#left_share_fb a:before {
  content: "\f09a";
}
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
  cursor: pointer;
  clear: both;
  float: none;
  margin: 0 0 8px 0;
  border: none;
  padding: 0;
  position: relative;
}
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
  font-family: "FontAwesome";
  font-size: 19px;
  line-height: 24px;
  position: absolute;
  top: -2px;
  left: 0;
  font-weight: normal;
  content: "\f08a";
}
.rtl #usefull_link_block li#favoriteproducts_block_extra_remove:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_add:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_removed:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_added:before {
  right: 0;
  left: auto;
}
#usefull_link_block li#favoriteproducts_block_extra_removed:before {
  content: "\f004";
}

/* pb-left-column ****************************************************************************** */
.pb-center-column {
  /* form */
}
.pb-center-column h1 {
  margin-top: 0;
  font-size: 20px;
  color: rgb(101,101,101);
  font-family: "Century Gothic";
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;

}
.pb-center-column p {
  margin-bottom: 10px;
}
.pb-center-column #product_reference label{
  font-weight: normal;
}
.pb-center-column #product_reference {
  margin-bottom: 6px;
  font-family: "Century Gothic";
  text-transform: uppercase;
  color: rgb(39,40,36);

}
.pb-center-column #short_description_block {
  color: #858585;
}
.pb-center-column #buy_block {
  margin-top: 10px;
}
#Sizecharcart{
  font-family: "Century Gothic";
  font-weight: bold;;
  font-size: 11px;
  text-decoration: underline;
  color: rgb(39,40,36);
  text-transform: uppercase;
}
.pb-center-column #buy_block label {
  display: inline-block;
  width: 125px;
  font-weight: bold;
  font-family: "Century Gothic";
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  letter-spacing: 2.5px;
  color: rgb(135,135,135);
}
.rtl .pb-center-column #buy_block label {
  text-align: left;
}
.pb-center-column #buy_block p.price {
  padding: 0;
}
.pb-center-column #color_picker p {
  padding-bottom: 5px;
  font-weight: 700;
}

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0 -5px;
  position: relative;
}
.rtl #product p#loyalty {
  padding: 17px 35px 15px 0;
}
#product p#loyalty:before {
  content: "\f024";
  font-family: "FontAwesome";
  color: #cfcccc;
  font-size: 26px;
  line-height: 28px;
  position: absolute;
  top: 16px;
  left: 0;
}
.rtl #product p#loyalty:before {
  right: 0;
  left: auto;
}

#attributes fieldset {
  padding-bottom: 3px;
}
#attributes fieldset label {
  vertical-align: top;
  display: block;
}
#attributes .attribute_list {
  width: 100%;
}
#attributes .attribute_list .form-control {
  max-width: 230px;
}
#attributes .attribute_list .form-control option {
  color: #858585;
}
#attributes .attribute_list ul {
  clear: both;
}
#attributes .attribute_list ul li {
  float: left;
  margin-right: 10px;
}
.rtl #attributes .attribute_list ul li {
  float: right;
}
.rtl #attributes .attribute_list ul li {
  margin-left: 10px;
  margin-right: inherit;
}
#attributes .attribute_list input.attribute_radio {
  float: left;
  margin-left: 3px;
}
.rtl #attributes .attribute_list input.attribute_radio {
  float: right;
}
.rtl #attributes .attribute_list input.attribute_radio {
  margin-right: 3px;
  margin-left: inherit;
}
#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
  float: none;
  display: inline-block;
}
#attributes .attribute_list #color_to_pick_list {
  list-style-type: none;
}
#attributes .attribute_list #color_to_pick_list li {
  float: left;
  margin: 0 3px 3px 0;
  padding: 1px;
  border: 1px solid #eeeeee;
  clear: none;
}
.rtl #attributes .attribute_list #color_to_pick_list li {
  float: right;
}
.rtl #attributes .attribute_list #color_to_pick_list li {
  margin: 0 0 3px 3px;
}
#attributes .attribute_list #color_to_pick_list li a.color_pick {
  display: block;
  height: 22px;
  width: 22px;
  cursor: pointer;
}
#attributes .attribute_list #color_to_pick_list li.selected {
  border: 1px solid #4d4d4d;
}

.box-cart-bottom {
  padding: 0;
}

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  margin: 0 0 20px;
}
.table-data-sheet tr {
  border-top: 1px solid #eeeeee;
}
.table-data-sheet tr.even {
  background: #fdfdfd;
}
.table-data-sheet tr td {
  padding: 10px 20px 11px;
}
.table-data-sheet tr td:first-child {
  border-right: 1px solid #eeeeee;
  width: 30%;
  font-weight: 500;
}

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 50%;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  table.table-product-discounts {
    width: 100%;
  }
}
table.table-product-discounts tr th {
  background: #fbfbfb;
  font-weight: 700;
  border: none;
  font-weight: 700;
}
table.table-product-discounts tr td,
table.table-product-discounts tr th {
  border-left: 1px solid #eeeeee;
  width: 33%;
  padding: 10px 20px 11px;
  border-top: 1px solid #eeeeee;
  border-right: none;
  text-shadow: none;
  text-transform: none;
  font-weight: 13px;
  line-height: 18px;
  border-bottom: none;
}

/* accessories  */
.accessories-block .block_description {
  display: none;
}
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none;
}
.accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
  text-decoration: none;
}
.accessories-block .page-subheading {
  margin-bottom: 0;
}

/* quantity_wanted */
#quantity_wanted_p input {
  width: 78px;
  float: left;
  height: 30px;
  padding: 5px 12px;
  padding-top: 1px\9;
}
.rtl #quantity_wanted_p input {
  float: right;
}
#quantity_wanted_p .btn {
  float: left;
  margin-left: 3px;
  color: rgb(39,40,36);
}
#quantity_wanted_p .btn:hover {
  color: rgb(101,101,101);
}
.rtl #quantity_wanted_p .btn {
  float: right;
}
.rtl #quantity_wanted_p .btn {
  margin-right: 3px;
  margin-left: inherit;
}
#quantity_wanted_p label {
  display: block;
  margin-bottom: 7px;
}

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
}
.rtl #availability_statut span#availability_label, .rtl
#availability_date_label {
  text-align: left;
}

#quantityAvailable {
  font-size: 13px;
  line-height: 18px;
}

#availability_value,
#last_quantities {
  color: #2d84b1;
  line-height: 18px;
  display: inline-block;
  margin-left: 5px;
}
.rtl #availability_value, .rtl
#last_quantities {
  margin-right: 5px;
  margin-left: inherit;
}

#last_quantities {
  background: #6087d2;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
}

#availability_statut,
#pQuantityAvailable {
  display: inline-block;
}

#pQuantityAvailable span {
  font-weight: 500;
}

#availability_statut #availability_value.warning_inline {
  margin: 0;
}

/* box-security */
/* prices */
.content_prices {
  padding: 0 0 5px 0;
}

.discount {
  display: none;
}

.our_price_display {
  font-size: 23px;
}

#old_price, .old-price {
  font-size: 17px;
  text-decoration: line-through;
  display: inline-block;
  line-height: 23px;
  color: #555555;
}

#reduction_percent,
#reduction_amount {
  display: inline-block;
  margin-right: 10px;
  padding: 1px 3px;
  font-size: 14px;
  line-height: 23px;
  color: black;
  background: #f13340;
  border: 1px solid #d02a2c;
  margin-top: 5px;
}
.rtl #reduction_percent, .rtl
#reduction_amount {
  margin-left: 10px;
  margin-right: inherit;
}
#reduction_percent span,
#reduction_amount span {
  display: block;
}

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left;
}
.rtl .pb-center-column p.online_only {
  text-align: right;
}
.buttons_bottom_block button {
  background-color:  rgb(56,151,194);
  color: white;
  border: solid;
  text-transform: uppercase;
}
.buttons_bottom_block button:hover
{
  background-color:  rgb(54,140,163);
}
.buttons_bottom_block {
  clear: both;
  
}

#Customizedit{
      background-color: rgba(205, 205, 205, 1);
    color: rgb(39,40,36);
    padding: 9px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    width: 185px;
    text-align: center;
    font-family: "Century Gothic";
    display: block;

}
#Customizedit:hover{
    background-color: rgba(135, 135, 135, 1);
    color: rgb(255,255,255);
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden;
}
#send_friend_form .product img {
  margin: 0 0 10px 0;
  border: 1px solid #eeeeee;
}
#send_friend_form .product p {
  padding: 0;
}
#send_friend_form .product p .product_name {
  font-size: 12px;
  color: #000;
}
#send_friend_form .form_container {
  padding: 10px 15px;
  border: 1px solid #eeeeee;
  background: #fbfbfb;
}
#send_friend_form .form_container p.intro_form {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 13px;
}
#send_friend_form .form_container p.txt_required {
  padding-bottom: 0;
  color: #666;
}
#send_friend_form .form_container .text {
  padding-bottom: 10px;
}
#send_friend_form .form_container .text label {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 12px;
}
#send_friend_form .submit {
  margin-top: 20px;
  padding-bottom: 0;
  text-align: right;
}
.rtl #send_friend_form .submit {
  text-align: left;
}

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
  list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.customizationUploadLine {
  padding-bottom: 10px;
}
.customizationUploadLine label {
  display: block;
  vertical-align: top;
}
.customizationUploadLine textarea {
  width: 50%;
  border: 1px solid #eeeeee;
  color: #9c9c9c;
}

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px;
}

#customizedDatas {
  float: right;
}
.rtl #customizedDatas {
  float: left;
}

.accessories_block div ul li a {
  display: inline-block;
}
.accessories_block div ul li.s_title_block a, .accessories_block div ul li.s_title_block span {
  font-weight: 700;
}

/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #eeeeee;
}
.ie8 .box-security {
  filter: none;
}

.socialsharing_product button {
  border: 0px solid #eeeeee;
}

/******************************************************************
Quick View Styles
******************************************************************/
.addsharethisinner .stButton .stArrow {
  display: none !important;
}

#product.content_only div.primary_block {
  margin-bottom: 0;
  padding: 10px;
}
@media (max-width: 991px) {
  #product.content_only div.primary_block {
    margin-right: 0;
  }
}
#product.content_only #leo-paneltool {
  display: none;
}

@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-left-column, #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px;
  }
  #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block, #product.content_only section.primary_block div.pb-left-column #image-block, #product.content_only section.primary_block div.pb-left-column #views_block {
    max-width: 470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #product.content_only div.primary_block div.pb-left-column #thumbs_list li, #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
    width: 90px;
    height: 90px;
  }
  #product.content_only div.primary_block div.pb-left-column #thumbs_list li img, #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
    width: 82px;
    height: 82px;
  }
  #product.content_only div.primary_block div.pb-center-column, #product.content_only section.primary_block div.pb-center-column {
    width: 50%;
    float: left;
    padding-left: 35px;
  }
  .rtl #product.content_only div.primary_block div.pb-center-column, .rtl #product.content_only section.primary_block div.pb-center-column {
    float: right;
  }
  .rtl #product.content_only div.primary_block div.pb-center-column, .rtl #product.content_only section.primary_block div.pb-center-column {
    padding-right: 35px;
    padding-left: inherit;
  }
  #product.content_only div.primary_block div.pb-right-column, #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left;
  }
  .rtl #product.content_only div.primary_block div.pb-right-column, .rtl #product.content_only section.primary_block div.pb-right-column {
    float: right;
  }
}
