@import "compass";
@import "theme_variables";

@media (max-width: 1196px) and (min-width: 992px) {
	//Theme config live
	.editortool .label-customize {display: none;}	
}

@media (max-width: $screen-md - 2){ //max 990px
	
	
}
@media (min-width: $screen-lg) { // min 1200px

	//GUEST TRACKING
	#guestTracking {
		.form-group {
      		overflow: hidden;
	      	i {
	        	@include rtl-padding-left(10px);
	      	}
    	}
    	.form-control {
      		@include rtl-float-left ();
    	}
    	label {
      		@include rtl-float-left ();
      		clear: both;
     		width: 100%;
    	}
	}
}
@media (max-width: $screen-md-max) { // max 1199px
  	//Zoom
  	.zoomdiv {
    	display: none !important;
  	}
}
@media (min-width: $screen-sm-max) and (max-width: $screen-md-max) { // min 991px max 1199px
	#thumbs_list{
		width: 250px;
	}
} 

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) { // min 479px max 991px
	.blockcart_top{
		// position: absolute;
		// right: 0;
	}	
} 

@media (max-width: $screen-sm-max) { // max 991px
	.float-vertical.active{
		> .block_content{
			position:relative;		
		}
	} 	
	.left-custom {
		padding: 0 !important;
	}
	#leo-verticalmenu .open > .dropdown-menu {
		max-width: 100%;
		position: relative;
		left: auto !important;
		width: 100% !important;
		top: 100%;
	}
	div.verticalmenu .navbar-nav{
		margin: 0;
	}
	.header_user_info .dropdown-toggle{
	  display: block;
	}
	.dropdown-menu > li > a{padding: 3px 0;}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
		background: transparent;
	}
	ul.links li .fa, ul.links li .icon{
		width: 10px;
	}
	#footer #newsletter_block_left .newsletter-input{width: 200px;}
	#footer #newsletter_block_left.block .title_block{
		margin-bottom: 10px;
	}
}
@media (max-width: $screen-xs-max + 1) { // max 768px
	#top_column {
		.carousel-inner {
			.caption{
				width: 60%;
				top: 12%;
			}
		}
	}
}

@media (max-width: $screen-xs-max) { // max 767px
	//Menu Canvas
	html {background:none}
	.navbar-header .navbar-toggle{
		  display: block;
		  @include rtl-float-left();
		  margin: 0;
		  width: 40px;
	}
	.collapse.navbar-collapse  {
	  	display: none!important
	}
	.navbar-nav {
		float: none;
	  > li {
	  	 // float: none;
	  }
	}	
	//end canvas
	header .g-dropdown {
		position: relative;
		.groupe-btn {padding:5px; @include rtl-float-left(); cursor:pointer;}
		ul.links {
			li {display: block;}
		}
	}
	#header-main{
		.inner{
			text-align: center;
		}
		#header_logo a{display: inline-block;}
		 
	}
	#header_logo{
		margin: 20px 0 40px;
	}
	#send_friend_form {
		width: 280px;
	}
	 #poweredby {text-align: center;}
	 #footnav {text-align: center; margin-top: 10px;}
	 .effect{
		text-align: center;
	}
	#leosearchtopbox{
		margin-right: 8px;
		select{width: 40%;}
		input{width: 60%;}
	}
	.product-block .quick-view{
		display: none;
	}
	#top_column {
		.carousel-inner {
			.caption{
				width: 71%;
				top: 15%;
			}
		}
	}
	.home-item{
		padding: 0 !important;
		margin-top: 10px;
	}
	#layer_cart{
		margin-left: 0;
		margin-right: 2%;
		.rtl &{
			margin-left: 2%;
			margin-right: 0%;
		}
	}

}
@media (max-width: $screen-xs) { // max 480px
	header .nav .row {padding: 10px 0;}
	
	
	#cart .heading {
		display: inline-block; 
	}
	
	.box-services{display: none}
	.product-block .functional-buttons{
		left: 0;
	}
	#layer_cart .layer_cart_cart .button-container{
		text-align: center;
	}
	#layer_cart .layer_cart_cart .button-container .btn{
		float: none!important;
		margin-bottom: 10px;
	}
	#thumbs_list{
		width: 300px;
	}
	.carousel-control{
		&.left, &.right{
			&:after{
				 margin: 10px 8px 0;
			}
		}
	}
}
@media (max-width: $screen-xs - 1) { // max 479px
	
	
}