﻿{if $status == 'ok' && $TOKEN != 0}
	<div class="box">
		<p class="cheque-indent">

			<strong class="dark" style="
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 37px;
">¡GRACIAS POR TU PEDIDO!</strong>
			<strong class="dark" style="text-align: center;display:block">Apenas realices el deposito se confirmará la compra. <br>Tiempo de envío: 7 días</strong>
		</p>
        <br /><br />
        <center><iframe src="{$IFRAME}" width="100%"  height="1210" frameborder="no"  style="border:1px solid #000000;"></iframe></center>
		<br /> <strong>El tiempo de envío cuenta desde el dia en que recibamos el pago.</strong>
	</div>
{else}
	<p class="alert alert-warning">
		{l s='Hemos encontrado problemas con su pedido.' mod='pspagoefectivo'}
        {if $TOKEN == 0} <br />&nbsp;&nbsp;&nbsp;- {l s='Hubo problemas al generar el pago' mod='pspagoefectivo'}{else}{/if}
        <br /><br />
        {l s='Puede ponerse en contacto con nosotros' mod='pspagoefectivo'}
	</p>
{/if}

<script type="text/javascript">



      


        jQuery(document).ready(function () {

        //jQuery('.container').addClass('homecontainer')
        //jQuery('.homecontainer').removeClass('container')

        
            jQuery('#center_column').attr('style','width: 100%');
            $('.page-heading').attr('style','text-align: center');

        });	//ready



    </script>

