


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

@import url(https://fonts.googleapis.com/css?family=Satisfy);







@import url("colors/color-blue.css");





/* #homePanel

================================================== */

#homeDEFAULT-TYPEFACE, body, .homedefault-typeface
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}



#homeswitch {

    background: #fff;

    position: fixed;

    display: none;

    top: 126px;

    z-index: 99999;

    width: 200px;

    margin-left: -100px;

    border-radius: 0 5px 5px 0;

    font-family: 'Century Gothic';

    -webkit-box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);

    box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);

}



    #homeswitch p {

        margin-bottom: 10px;

        padding-bottom: 15px;

        padding-top: 5px;

        border-bottom: #ededed 1px solid;

    }



    #homeswitch ul li {

        text-transform: uppercase;

        margin-bottom: 0;

        font-size: 12px;

        display: inline-block;

    }



#homeshow {

    z-index: 99999;

    margin-left: 0px;

    position: fixed;

    left: 0;

    top: 20%;

    background: rgba(40,40,40,.8);

    border-radius: 0 3px 3px 0;

    margin-top: 10px;

    padding: 20px 5px;

    cursor: pointer;

}



#homehide {

    cursor: pointer;

    line-height: 13px;

    margin-bottom: 0px;

    font-size: 12px;

    margin-bottom: 0px;

}



#homesetting {

    height: 50px;

    background-image: url('../images/option_panel.png');

    background-repeat: no-repeat;

    background-size: 20px 50px;

    width: 20px;

}



.homewrap_pattern, .homeswitchlayout {

    margin-bottom: 10px;

}



    .homewrap_pattern p {

        margin-bottom: 5px !important;

    }



.homecontent-switcher {

    padding: 16px;

    overflow: hidden;

}



    .homecontent-switcher .homem-btn {

        padding: 5px 10px;

        font-size: 12px;

        min-width: 70px;

    }



.homebutton.homesmall.homecolor.homeswitch {

    font-size: 12px;

    text-transform: none;

    width: 40px;

    margin: 5px 0px;

    font-weight: normal;

    font-family: 'Century Gothic';

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) !important;

    letter-spacing: 0;

}



#homehide {

    position: absolute;

    background-color: #fff;

    height: 30px;

    width: 30px;

    top: 7px;

    right: 7px;

    border-radius: 0 5px 0px 0;

}



    #homehide img {

        height: 30px;

        width: 30px;

        opacity: 0.3;

        transition: all 0.3s ease 0s;

        -moz-transition: all 0.3s ease 0s;

        -webkit-transition: all 0.3s ease 0s;

        -o-transition: all 0.3s ease 0s;

    }



        #homehide img:hover {

            opacity: 0.7;

        }





#homeswitch .homebutton {

    border-radius: 2px;

    cursor: pointer;

    display: inline-block;

    margin-left: 5px;

    margin-top: 5px;

    height: 15px;

    padding: 5px;

    width: 15px;

    color: #000;

}



#homeswitch p {

    margin: 5px 0;

}



.homestyled-select select {

    background: #f5f5f5;

    border: #ededed 1px solid;

    width: 270px;

    padding: 5px;

    font-size: 13px;

    line-height: 1;

    outline: none;

    border-radius: 3px;

    height: 34px;

    -webkit-appearance: none;

    margin: 10px 0;

}



.homehome-options {

    position: relative;

    width: 100%;

    margin-top: 10px;

    text-align: center;

    margin: 0 auto;

}



    .homehome-options a {

        background: #f5f5f5;

        border: #ededed 1px solid;

        font-size: 13px;

        padding: 5px 30px;

        line-height: 40px;

        outline: none;

        text-align: center;

        color: #000;

    }



        .homehome-options a:hover {

            background: #f1f1f1;

        }







/* #PAGE LOAD */



body.royal_loader {

    background: none;

    visibility: hidden;

}



#royal_preloader {

    font-family: Arial;

    font-size: 12px;

    visibility: visible;

    position: fixed;

    top: 0px;

    right: 0px;

    bottom: 0px;

    left: 0px;

    z-index: 9999999999;

    -webkit-transition: opacity 0.2s linear 0.8s;

    -moz-transition: opacity 0.2s linear 0.8s;

    -ms-transition: opacity 0.2s linear 0.8s;

    -o-transition: opacity 0.2s linear 0.8s;

    transition: opacity 0.2s linear 0.8s;

}



    #royal_preloader.complete {

        opacity: 0;

    }



    #royal_preloader .background {

        position: absolute;

        top: 0px;

        bottom: 0px;

        left: 0px;

        right: 0px;

        background-color: #000000;

        -webkit-transition: background 0.5s linear;

        -moz-transition: background 0.5s linear;

        -ms-transition: background 0.5s linear;

        -o-transition: background 0.5s linear;

        transition: background 0.5s linear;

    }



    #royal_preloader.number .name {

        position: absolute;

        top: 20%;

        left: 0px;

        right: 0px;

        text-transform: uppercase;

        color: #EEEEEE;

        text-align: center;

        opacity: 0;

        -webkit-transition: -webkit-transform 0.3s linear;

        -moz-transition: -moz-transform 0.3s linear;

        -ms-transition: -ms-transform 0.3s linear;

        -o-transition: -o-transform 0.3s linear;

        transition: transform 0.3s linear;

        -webkit-animation: fly 0.3s;

        -moz-animation: fly 0.3s;

        -ms-animation: fly 0.3s;

        -o-animation: fly 0.3s;

        animation: fly 0.3s;

    }



    #royal_preloader.number .percentage {

        color: #FFFFFF;

        font-family: Impact, Arial;

        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

        text-align: center;

        margin: -90px 0px 0px -90px;

        background-image: url('../images/loader.html');

        background-repeat: no-repeat;

        background-position: 50% 0;

        padding-top: 80px;

        width: 180px;

        position: absolute;

        font-size: 50px;

        top: 50%;

        left: 50%;

        -webkit-transition: all 0.3s linear 0.5s;

        -moz-transition: all 0.3s linear 0.5s;

        -ms-transition: all 0.3s linear 0.5s;

        -o-transition: all 0.3s linear 0.5s;

        transition: all 0.3s linear 0.5s;

    }



    #royal_preloader.text .loader {

        color: #000000;

        position: absolute;

        font-family: 'Open Sans', sans-serif;

        font-weight: 800;

        top: 50%;

        left: 50%;

        height: 40px;

        line-height: 40px;

        margin-top: -20px;

        letter-spacing: 3px;

        font-size: 36px;

        white-space: nowrap;

    }



        #royal_preloader.text .loader div {

            position: absolute;

            top: 0px;

            right: 0px;

            bottom: 0px;

            left: 0%;

            background-color: #000000;

            opacity: 0.7;

            filter: alpha(opacity=70);

            -webkit-transition: left 0.3s linear;

            -moz-transition: left 0.3s linear;

            -ms-transition: left 0.3s linear;

            -o-transition: left 0.3s linear;

            transition: left 0.3s linear;

        }



    #royal_preloader.logo .loader {

        width: 80px;

        height: 80px;

        position: absolute;

        left: 50%;

        top: 50%;

        margin: -40px 0px 0px -40px;

        overflow: hidden;

        background-position: 50% 50%;

        background-repeat: no-repeat;

        background-size: cover;

        border-radius: 100%;

    }



        #royal_preloader.logo .loader div {

            position: absolute;

            bottom: 0%;

            left: 0px;

            right: 0px;

            height: 100%;

            opacity: 0.7;

            filter: alpha(opacity=70);

            -webkit-transition: bottom 0.3s linear;

            -moz-transition: bottom 0.3s linear;

            -ms-transition: bottom 0.3s linear;

            -o-transition: bottom 0.3s linear;

            transition: bottom 0.3s linear;

        }



    #royal_preloader.logo .percentage {

        position: absolute;

        width: 80px;

        height: 40px;

        line-height: 40px;

        top: 50%;

        left: 50%;

        margin: 40px 0px 0px -40px;

        color: #072E77;

        text-align: center;

        font-family: Arial;

        font-size: 12px;

        font-weight: bold;

    }



@-webkit-keyframes fly {

    0% {

        opacity: 0;

        top: 50%;

    }



    20% {

        opacity: 1;

        top: 40%;

    }



    100% {

        opacity: 0;

        top: 20%;

    }

}



@-moz-keyframes fly {

    0% {

        opacity: 0;

        top: 50%;

    }



    20% {

        opacity: 1;

        top: 40%;

    }



    100% {

        opacity: 0;

        top: 20%;

    }

}



@-ms-keyframes fly {

    0% {

        opacity: 0;

        top: 50%;

    }



    20% {

        opacity: 1;

        top: 40%;

    }



    100% {

        opacity: 0;

        top: 20%;

    }

}



@-o-keyframes fly {

    0% {

        opacity: 0;

        top: 50%;

    }



    20% {

        opacity: 1;

        top: 40%;

    }



    100% {

        opacity: 0;

        top: 20%;

    }

}



@keyframes fly {

    0% {

        opacity: 0;

        top: 50%;

    }



    20% {

        opacity: 1;

        top: 40%;

    }



    100% {

        opacity: 0;

        top: 20%;

    }

}



@media (max-width: 880px) {

    #homebtnshop {

        font-size: 14px !important;

    }



    #homeconetenedornumeros {

        display: none !important;

    }

}



/* #Navigation

================================================== */





#homemenu-wrap {

    position: fixed;

    padding-bottom: 10px;

    width: 100%;

    z-index: 1000;

    top: 0;

    left: 0;

}



.homemenu-back {

    background: rgba(39,40,36,1);

}





.homecbp-af-header {

    -webkit-transition: all 0.5s ease-out;

    -moz-transition: all 0.5s ease-out;

    -o-transition: all 0.5s ease-out;

    transition: all 0.5s ease-out;

}



    .homecbp-af-header.homecbp-af-header-shrink {

        background: rgba(250,250,250,1);

    }



        .homecbp-af-header.homecbp-af-header-shrink .homelogo {

            width: 281px;

            background: url('../images/logo.png') no-repeat center center;

            -webkit-transition: all 0.5s ease-out;

            -moz-transition: all 0.5s ease-out;

            -o-transition: all 0.5s ease-out;

            transition: all 0.5s ease-out;

        }



        .homecbp-af-header.homecbp-af-header-shrink ul.homeslimmenu {

            margin-top: 1px;

            margin-bottom: 0;

            -webkit-transition: all 0.5s ease-out;

            -moz-transition: all 0.5s ease-out;

            -o-transition: all 0.5s ease-out;

            transition: all 0.5s ease-out;

        }



            .homecbp-af-header.homecbp-af-header-shrink ul.homeslimmenu li:first-child {

                background: none;

            }



            .homecbp-af-header.homecbp-af-header-shrink ul.homeslimmenu li ul li:first-child {

                background: none;

            }



ul.homeslimmenu li ul li a {

    color: #000;

}



    ul.homeslimmenu li ul li a:hover {

    }



ul.homeslimmenu li ul li {

    background: none;

    padding-left: 0;

}



ul.homeslimmenu li ul {

    background: rgba(250,250,250,.95);

    box-shadow: 0 0 15px rgba(0,0,0,0.1);

}





@media (max-width: 880px) {

    .homelogo {

        width: 114px !important;

        background-size: 100% !important;

    }

}







.homelogo {

    position: absolute;

    width: 281px;

    height: 80px;

    z-index: 10000;

    left: 10px;

    top: 10px;

    background: url('../images/logo.png') no-repeat center center;

}







.homemenu-collapser {

    position: relative;

    width: 100%;

    height: 48px;

    line-height: 48px;

    font-size: 16px;

    padding: 0 8px;

    box-sizing: border-box;

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

}



.homecollapse-button {

    position: absolute;

    right: 8px;

    top: 50%;

    width: 40px;

    background-image: linear-gradient(to bottom, #151515, #040404);

    background-repeat: repeat-x;

    border-style: solid;

    border-width: 1px;

    color: #000;

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);

    padding: 7px 10px;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    cursor: pointer;

    font-size: 14px;

    text-align: center;

    transform: translate(0, -50%);

    -o-transform: translate(0, -50%);

    -ms-transform: translate(0, -50%);

    -moz-transform: translate(0, -50%);

    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

}



    .homecollapse-button:hover, .homecollapse-button:focus {

        background-image: none;

        background-color: #040404;

        color: #FFF;

    }



    .homecollapse-button .homeicon-bar {

        background-color: #fff;

        border-radius: 1px 1px 1px 1px;

        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.home25);

        display: block;

        height: 2px;

        width: 18px;

        margin: 2px 0;

    }



ul.homeslimmenu {

    padding-top: 10px;

    padding-right: 32px;

    text-align: right;

    margin-top: 13px;

    margin-bottom: 10px;

}



    ul.homeslimmenu li {

        position: relative;

        display: inline-block;

        background: url('../images/line.png') 0 14px no-repeat;

        background-size: 15px 10px;

        padding-left: 20px;

    }



    ul.homeslimmenu > li {

    }



        ul.homeslimmenu > li:first-child {

            border-left: 0;

        }



        ul.homeslimmenu > li:last-child {

            margin-right: 0;

        }



    ul.homeslimmenu li a {

        display: block;

        color: white;

        padding: 10px 0px;

        cursor: pointer;

        margin: 0px 12px;

        font-family: 'Century Gothic';

        font-weight: 700;

        text-transform: uppercase;

        border-bottom: 1px solid rgba(0,0,0,0);

        font-size: 12px;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

    }



        ul.homeslimmenu li a:hover {

            text-decoration: none;

        }



    ul.homeslimmenu li {

    }



        ul.homeslimmenu li:first-child {

            background: none;

        }



        ul.homeslimmenu li .homesub-collapser {

            position: absolute;

            right: 0;

            top: 0;

            width: 48px;

            height: 100%;

            z-index: 999;

            cursor: pointer;

        }



            ul.homeslimmenu li .homesub-collapser:before {

                display: none;

            }



            ul.homeslimmenu li .homesub-collapser > i {

                display: none;

            }



        ul.homeslimmenu li ul {

            margin: 0;

            list-style-type: none;

        }



            ul.homeslimmenu li ul a {

                font-size: 10px;

            }



            ul.homeslimmenu li ul li:first-child {

                background: none;

            }



            ul.homeslimmenu li ul li {

                background: none;

                padding-left: 0;

            }



        ul.homeslimmenu li > ul {

            display: none;

            position: absolute;

            text-align: left;

            left: 0;

            top: 100%;

            z-index: 999;

            width: 150%;

        }



            ul.homeslimmenu li > ul > li ul {

                display: none;

                position: absolute;

                left: 100%;

                top: 0;

                z-index: 999;

                width: 100%;

            }



    ul.homeslimmenu.homecollapsed {

        padding: 0;

        margin: 0;

    }



        ul.homeslimmenu.homecollapsed li {

            display: block;

            width: 100%;

            box-sizing: border-box;

            -moz-box-sizing: border-box;

            -webkit-box-sizing: border-box;

        }



            ul.homeslimmenu.homecollapsed li a {

                display: block;

                border-bottom: 1px solid rgba(0, 0, 0, 0);

                box-sizing: border-box;

                -moz-box-sizing: border-box;

                -webkit-box-sizing: border-box;

            }



            ul.homeslimmenu.homecollapsed li .homesub-collapser {

                height: 40px;

            }



            ul.homeslimmenu.homecollapsed li > ul {

                display: none;

                position: static;

            }







.hometipper {

    height: 1px;

    left: -99999px;

    position: absolute;

    pointer-events: none;

    top: -99999px;

    width: 1px;

    z-index: 100000;

}



    .hometipper .hometipper-content {

        background: rgba(0, 0, 0, 0.95);

        box-shadow: 0 0 25px rgba(0,0,0,0.5);

        text-transform: uppercase;

        border-radius: 3px;

        color: white;

        display: block;

        float: left;

        font-family: 'Lato', sans-serif;

        font-size: 10px;

        margin: 0;

        padding: 6px 20px;

        position: relative;

        white-space: nowrap;

    }



    .hometipper .hometipper-caret {

        background: url('../images/tipper-icon.png') no-repeat;

        display: block;

        height: 11px;

        position: absolute;

        width: 100%;

    }



    .hometipper.homeright .hometipper-content {

        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25);

    }



    .hometipper.homeright .hometipper-caret {

        background-position: left center;

        left: -5px;

        top: 0;

    }



    .hometipper.homeleft .hometipper-content {

        box-shadow: -1px 0 3px rgba(0, 0, 0, 0.25);

    }



    .hometipper.homeleft .hometipper-caret {

        background-position: right center;

        right: -5px;

        top: 0;

    }



    .hometipper.hometop .hometipper-caret,

    .hometipper.homebottom .hometipper-caret {

        display: block;

        float: none;

        height: 5px;

        width: 12px;

        margin-left: -6px;

    }



    .hometipper.hometop .hometipper-content {

        box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);

    }



    .hometipper.hometop .hometipper-caret {

        background-position: center bottom;

        bottom: -5px;

        left: 0;

        text-align: center;

    }



    .hometipper.homebottom .hometipper-content {

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    }



    .hometipper.homebottom .hometipper-caret {

        background-position: center top;

        top: -5px;

        left: 0;

    }













.homenav-slide h1 {

    display: none;

}



.homenav-slide {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 0;

    border-width: 0px;

    border-style: solid;

    border-color: rgba(102,102,102,1);

    background-color: rgba(0,0,0,0);

    -webkit-backface-visibility: hidden;

    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;

    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;

    z-index: 3000;

}



    .homenav-slide.homeopen {

        height: 100%;

        border-width: 0px 0px 0px 180px;

        background: url('../images/background/bg.png');

        -webkit-transition: border-width 0.3s, background-color 0.3s;

        transition: border-width 0.3s, background-color 0.3s;

    }



.homenav-overlay {

    position: absolute;

    width: 100%;

}



.homenav-slide.homeopen .homenav-overlay {

    height: 100%;

}



@media (max-width: 700px) {

    .homenav-button {

        top: 0px !important;

    }

}



.homenav-button {

    position: fixed;

    left: 24px;

    text-align: left;

    z-index: 3500;

    display: block;

    width: 50px;

    height: 50px;

    cursor: pointer;

    pointer-events: auto;

    top: 11px;

    font-weight: bold;

}



    .homenav-button span {

        position: absolute;

        top: 19px;

        left: 53px;

        display: block;

        width: 96px;

        height: 30px;

        font-size: 0px;

    }



.homenav-slide ul {

    position: fixed;

    margin: 0;

    padding: 0;

    list-style: none;

    top: 104px;

    left: 0;

}



    .homenav-slide ul li,

    .homenav-slide ul li a {

        display: block;

        font-weight: 400;

    }



        .homenav-slide ul li a {

            padding-left: 40px;

        }



    .homenav-slide ul li {

    }





    .homenav-slide ul li {

        visibility: hidden;

        opacity: 0;

        -webkit-transition: all .2s ease-in-out;

        -moz-transition: all .2s ease-in-out;

        -ms-transition: all .2s ease-in-out;

        transition: all .2s ease-in-out;

    }



.homenav-slide.homeopen ul li {

    visibility: visible;

    opacity: 1;

    pointer-events: auto;

    -webkit-transition: all .2s ease-in-out;

    -moz-transition: all .2s ease-in-out;

    -ms-transition: all .2s ease-in-out;

    transition: all .2s ease-in-out;

}



.homenav-slide.homeopen span {

    visibility: visible;

    opacity: 1;

    pointer-events: auto;

    font-size: 15px;

    -webkit-transition: all .2s ease-in-out;

    -moz-transition: all .2s ease-in-out;

    -ms-transition: all .2s ease-in-out;

    transition: all .2s ease-in-out;

    font-size: 12px;

}



.homenav-slide.homeopen img {

    visibility: visible;

    opacity: 1;

    pointer-events: auto;

    font-size: 15px;

    -webkit-transition: all .2s ease-in-out;

    -moz-transition: all .2s ease-in-out;

    -ms-transition: all .2s ease-in-out;

    transition: all .2s ease-in-out;

}



.homenav-slide span {

    width: 180px;

    height: 40px;

    line-height: 30px;

    -webkit-transform: translate3d(-100%,50%,0);

    transform: translate3d(-100%,50%,0);

}



.homenav-slide img {

    width: 163px;

    height: 137px;

    line-height: 40px;

    -webkit-transform: translate3d(-100%,50%,0);

    transform: translate3d(-100%,50%,0);

}



.homenav-slide ul li {

    width: 180px;

    height: 28px;

    line-height: 40px;

    -webkit-transform: translate3d(-100%,50%,0);

    transform: translate3d(-100%,50%,0);

}





.homenav-slide.homeopen ul li {

    -webkit-transform: translate3d(0,0,0);

    transform: translate3d(0,0,0);

}



.homenav-slide.homeopen span {

    -webkit-transform: translate3d(0,0,0);

    transform: translate3d(0,0,0);

}



.homenav-slide.homeopen img {

    -webkit-transform: translate3d(0,0,0);

    transform: translate3d(0,0,0);

    left: 8px !important;

}



.homenav-slide ul li a {

    height: 28px;

    display: block;

    outline: none;

    line-height: 30px;

    text-decoration: none;

    padding: 0 10px;

    color: rgba(191,191,191,1);

    text-transform: uppercase;

    font-family: 'Century Gothic';

    letter-spacing: 1px;

    font-size: 11px;

    -webkit-transition: all .2s ease-in-out;

    -moz-transition: all .2s ease-in-out;

    -ms-transition: all .2s ease-in-out;

    transition: all .2s ease-in-out;

}





.homenav-slide ul li :hover {

    background: #3498db;

}



.homenav-slide ul li a.homecurrent, .homeactive {

    color: #555;

}





/* #Home

================================================== */
.row{
margin-left: 0px!important;
margin-right: 0px!important;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    position: relative;
    min-height: 1px;
    padding-left: 0px!important;
    padding-right: 0px!important;   
}

#homehome {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    

    z-index: 2;

    max-height: 600px;

}



.homebig-text {

    position: absolute;

    top: 50%;

    margin-top: -30px;

    width: 100%;

    font-family: 'Montserrat', sans-serif;

    text-shadow: 0 0 15px rgba(0,0,0,0.3);

    text-transform: uppercase;

    text-align: center;

    font-weight: 700;

    font-size: 50px;

    line-height: 50px;

    color: #ededed;

    z-index: 20;

}



    .homebig-text span {

        background: rgba(0,0,0,.3);

        padding-top: 15px;

        padding-bottom: 15px;

        padding-left: 30px;

        padding-right: 30px;

    }



.homesmall-text {

    position: absolute;

    top: 50%;

    margin-top: 55px;

    color: #fff;

    width: 100%;

    font-family: 'Satisfy', cursive;

    text-shadow: 0 0 5px rgba(0,0,0,0.1);

    text-align: center;

    font-size: 23px;

    line-height: 23px;

    z-index: 20;

}



.homeflippy {

    position: relative;

}



    .homeflippy > * {

        position: absolute;

        opacity: 0;

        width: 100%;

        top: -100px;

    }



        .homeflippy > *:first-child {

            opacity: 1;

            top: 0;

        }



.homesocial-top {

    position: relative;

    width: 100%;

    z-index: 1002;

    padding-top: 5px;

    padding-bottom: 5px;

    height: 30px;

    text-align: center;

}



.homelist-social li {

    padding: 0;

    list-style: none;

    text-align: center;

    width: 16% !important;

    display: inline-block !important;

    cursor: pointer;

    margin-left: 2px;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



    .homelist-social li.homeicon-soc a {

        font-family: 'FontAwesome';

        font-size: 15px;

        line-height: 30px;

        width: 30px;

        opacity: 1;

        margin: 0;

        padding: 0;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

    }



    .homelist-social li:hover {

    }



        .homelist-social li:hover.homeicon-soc a {

            color: rgb(55,163,213);

        }









.homeboxedcontainer {

    max-width: 1170px;

    margin: auto;

    padding: 0px 30px;

}



/*********************************************

	-	SETTINGS FOR BANNER CONTAINERS	-

**********************************************/



.hometp-banner-container {

    width: 100%;

    position: relative;

    padding: 0;

}



.hometp-banner {

    width: 100%;

    position: relative;

}



.hometp-banner-fullscreen-container {

    width: 100%;

    position: relative;

    padding: 0;

}





@media (max-width: 700px) {

    #homelayer1 {

        display: none !important;

    }



    #homelayer2 {

        display: none !important;

    }



    #homelayer3 {

        display: none !important;

    }



    #homelayer4 {

        display: none !important;

    }



    #homelayer5 {

        display: none !important;

    }



    #homelayer6 {

        display: none !important;

    }



    #homelayer7 {

        display: none !important;

    }



    #homelayer8 {

        display: none !important;

    }



    #homelayer9 {

        display: none !important;

    }



    #homelayer10 {

        display: none !important;

    }

}



.homejust_pattern {

 /*    background-image: url(../images/pattern.png); */

    position: absolute;

    opacity: 0.8;

    left: 0px;

    top: 0px;

    right: 0;

    bottom: 0;

    width: 100%;

    height: 100%;

    z-index: 1;

}



@media (max-width: 700px) {

    .homescroll-btn {

        display: none;

    }

}



.homescroll-btn {

    position: absolute;

    font-family: 'OpenSans-Light-webfont';

    font-size: 10px;

    color: #fff;

    text-align: center;

    text-transform: uppercase;

    bottom: 30px;

    left: 50%;

    margin-left: -30px;

    -webkit-transition: all .35s ease-in-out;

    -moz-transition: all .35s ease-in-out;

    -ms-transition: all .35s ease-in-out;

    -o-transition: all .35s ease-in-out;

    transition: all .35s ease-in-out;

    width: 60px;

    height: 40px;

    background: url('../images/arrow-down.png') no-repeat center bottom;

    background-size: 30px 16px;

    z-index: 3900;

    opacity: .8;

}



.homescroll-btn {

    -webkit-animation: arrows 3.8s infinite;

    -webkit-animation-delay: 1s;

    animation: arrows 3.8s infinite;

    animation-delay: 1s;

}



@keyframes arrows {

    0% {

        bottom: 30px;

    }



    10% {

        bottom: 40px;

    }



    20% {

        bottom: 30px;

    }



    30% {

        bottom: 40px;

    }



    40% {

        bottom: 20px;

    }



    50% {

        bottom: 40px;

    }



    60% {

        bottom: 30px;

    }



    70% {

        bottom: 40px;

    }



    80% {

        bottom: 20px;

    }



    90% {

        bottom: 40px;

    }



    100% {

        bottom: 30px;

    }

}



@-webkit-keyframes arrows {

    0% {

        bottom: 30px;

    }



    10% {

        bottom: 40px;

    }



    20% {

        bottom: 30px;

    }



    30% {

        bottom: 40px;

    }



    40% {

        bottom: 20px;

    }



    50% {

        bottom: 40px;

    }



    60% {

        bottom: 30px;

    }



    70% {

        bottom: 40px;

    }



    80% {

        bottom: 20px;

    }



    90% {

        bottom: 40px;

    }



    100% {

        bottom: 30px;

    }

}



@media (max-width: 880px) {

    .hometp-banner .homeservices-link {

        width: 100px !important;

        padding: 13px 0px !important;

        font-size: 10px !important;

    }

}



.hometp-banner .homeservices-link {

    position: relative;

    margin: 0 auto;

    padding: 20px 0px;

    text-align: center;

    font-family: 'Open Sans', sans-serif;

    color: white;

    font-weight: bold;

    border: 2px solid;

    border-color: white;

    font-size: 14px;

    width: 198px;

    line-height: 14px;

    text-transform: uppercase;

    cursor: pointer;

    margin-top: 20px;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



    .hometp-banner .homeservices-link:hover {

        color: #fff;

    }









/* #About

================================================== */

@media (max-width: 700px) {

    #homeabout {

        padding-top: 0px !important;

    }

}



#homeabout {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    padding-top: 18px;

    padding-bottom: 3px;

    z-index: 2;



}



    #homeabout h6 {

        text-align: left;

        padding-bottom: 25px;

    }



@media (max-width: 700px) {

    #homeabout .homeservices-link {

        width: 100%;

        background: #404040 none repeat scroll 0% 0% !important;

        color: white !important;

        font-weight: bold !important;

    }



        #homeabout .homeservices-link:hover {

            background: #3498db !important;

        }

}



@media (max-width: 880px) {

    #homeabout .homeservices-link {

        display: inline-block !important;

    }

}



#homeabout .homeservices-link {

    position: relative;

    padding: 20px 15px;

    margin: auto;

    text-align: center;

    font-family: 'Open Sans', sans-serif;

    color: #000000;

    background: rgba(230,230,230,1);

    font-size: 14px;

    display: none;

    line-height: 14px;

    text-transform: uppercase;

    cursor: pointer;

    z-index: 1000;

    width: 100%%;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



h1 span:before {

    content: '-';

    padding-right: 10px;

    font-weight: 100;

}



h1 span:after {

    content: '-';

    padding-left: 10px;

    font-weight: 100;

}



.homehead-subtext {

    text-align: center;

    padding-top: 30px;

    padding-bottom: 40px;

    font-family: 'Open Sans', sans-serif;

    text-transform: uppercase;

    font-size: 17px;

    line-height: 22px;

    color: #737373;

    border-right: 1px solid #e7e7e7;

    margin-top: 30px;

}



#homeabout .homehead-subtext {

    padding-bottom: 30px;

}



#homework .homehead-subtext {

    padding-bottom: 30px;

}







.homedrawings {

    position: relative;

    max-height: 600px;

}



.homeillustration {

    position: absolute;

    top: 50%;

    left: 50%;

    max-height: 100%;

    max-width: 100%;

    opacity: 0;

    -webkit-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);

}



.homeshow {

    opacity: 1;

}



.homehide {

    opacity: 0;

}



.homeline-drawing,

.homeillustration {

    -webkit-transition: opacity 0.8s;

    transition: opacity 0.8s;

}



    .homeline-drawing path {

        fill: none;

        stroke-width: 1;

    }



path.homeline-round {

    stroke-linecap: round;

}



path.homestroke-medium {

    stroke-width: 2;

}



path.homestroke-thin {

    stroke-width: 1;

}







/* #The team

================================================== */



#hometeam {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    padding-top: 50px;

    padding-bottom: 70px;

    z-index: 2;

}



    #hometeam h6 {

        text-align: center;

        padding-bottom: 25px;

    }



    #hometeam img {

        width: 100%;

        height: auto;

        display: block;

        margin: 0 auto;

        text-align: center;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

    }



        #hometeam img:hover {

            -webkit-transform: scale(0.8);

            -moz-transform: scale(0.8);

            -ms-transform: scale(0.8);

            -o-transform: scale(0.8);

            transform: scale(0.8);

        }



.homeflipWrapper {

    -webkit-perspective: 1000;

    -moz-perspective: 1000;

    -ms-perspective: 1000;

    -o-perspective: 1000;

    perspective: 1000;

    width: 100%;

    height: 300px;

    position: relative;

    margin: 0 auto;

    cursor: pointer;

    text-align: center;

}



    .homeflipWrapper .homecard.homeflipped {

        -webkit-transform: rotatey(180deg);

        -moz-transform: rotatey(180deg);

        -ms-transform: rotatey(180deg);

        -o-transform: rotatey(180deg);

        transform: rotatey(180deg);

    }



    .homeflipWrapper .homecard {

        width: 100%;

        height: 100%;

        -webkit-transform-style: preserve-3d;

        -moz-transform-style: preserve-3d;

        -ms-transform-style: preserve-3d;

        -o-transform-style: preserve-3d;

        transform-style: preserve-3d;

        -webkit-transition: 0.5s;

        -moz-transition: 0.5s;

        transition: 0.5s;

        margin: 0 auto;

        text-align: center;

    }



        .homeflipWrapper .homecard .homeface {

            padding-top: 5px;

            padding-bottom: 5px;

            padding-left: 5px;

            padding-right: 5px;

            background: #f2f2f2;

            position: absolute;

            margin: 0 auto;

            text-align: center;

            -webkit-backface-visibility: hidden;

            -moz-backface-visibility: hidden;

            -ms-backface-visibility: hidden;

            -o-backface-visibility: hidden;

            backface-visibility: hidden;

            z-index: 2;

        }



        .homeflipWrapper .homecard .homefront {

            position: absolute;

            z-index: 1;

            color: white;

            cursor: pointer;

        }



        .homeflipWrapper .homecard .homeback {

            -webkit-transform: rotatey(-180deg);

            -moz-transform: rotatey(-180deg);

            -ms-transform: rotatey(-180deg);

            -o-transform: rotatey(-180deg);

            transform: rotatey(-180deg);

            background: #f2f2f2;

            cursor: pointer;

            width: 100%;

            height: 100%;

            padding: 0;

        }



            .homeflipWrapper .homecard .homeback p {

                padding-top: 20px;

                text-align: left;

                padding-left: 20px;

                padding-right: 20px;

            }



                .homeflipWrapper .homecard .homeback p:last-child {

                    padding-top: 10px;

                }



.homesocial-team {

    position: absolute;

    left: 20px;

    bottom: 20px;

    z-index: 5;

}



.hometeam-social li {

    margin: 0 auto;

    list-style: none;

    text-align: center;

    display: inline-block;

    cursor: pointer;

    width: 30px;

    height: 16px;

}



    .hometeam-social li.homeicon-team a {

        font-family: 'FontAwesome';

        font-size: 16px;

        line-height: 16px;

        margin: 0 auto;

        text-align: center;

        padding-right: 15px;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

    }



    .hometeam-social li:last-child.homeicon-team a {

        padding-right: 0;

    }



    .hometeam-social li:hover {

    }



        .hometeam-social li:hover.homeicon-team a {

            opacity: .6;

        }







/* #Sep sections

================================================== */

@media (max-width: 700px) {

    #homesep {

        padding-bottom: 59px !important;

        height: 0px !important;

    }

}



#homesep {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    padding-top: 35px;

    padding-bottom: 78px;

}



#homesep1 {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    padding-bottom: 170px;

}



.homez-index {

    z-index: 5;

}



@media (max-width: 600px) {

    #homesep .homeservices-link {

        margin: auto !important;

        width: 100% !important;

    }



    #homesep .homejust_pattern {

        display: none;

    }



    #homesep .homejust_pattern1 {

        display: none;

    }



    #homesep .homeparallax {

        display: none;

    }

}



#homesep .homeservices-link {

    position: relative;

    padding: 20px 15px;

    margin: auto;

    text-align: center;

    font-family: 'Century Gothic';

    color: #FFFFFF;

    background: rgba(174,72,69,1);

    font-size: 20px;

    font-weight: bold;

    line-height: 14px;

    text-transform: uppercase;

    cursor: pointer;

    margin-top: 20px;

    z-index: 999;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



    #homesep .homeservices-link:hover {

        color: #fff;

    }









.homeDivWhomman {

    display: inline-block;

    background: url('../images/shopwoman.jpg') no-repeat;

    background-position: center;

    background-size: 100%;

    width: 30%;

    height: 422px;

    margin-left: 5px;

    margin-right: 5px;

}



@media (max-width: 700px) {

    .homeDivWhomman {

        background: transparent !important;

        width: 100% !important;

        height: 20px !important;

        display: inline !important;

    }



    .homeDivcuto {

        background: transparent !important;

        width: 100% !important;

        height: 20px !important;

        display: inline !important;

    }



    .homeDivmen {

        background: transparent !important;

        width: 100% !important;

        height: 20px !important;

        display: inline !important;

    }



    .homeDiv2 .homeservices-link {

        width: 100% !important;

        margin-top: auto !important;

    }

}



.homeDivmen {

    display: inline-block;

    background: url('../images/shopmen.jpg') no-repeat;

    background-position: center;

    background-size: 100%;

    width: 30%;

    height: 422px;

    margin-left: 5px;

    margin-right: 5px;

}

.homeDivWhomman:hover .homeservices-link {

    background:#3498db;

}



.homeDivmen:hover .homeservices-link {

    background:#3498db;

}



.homeDivcuto {

    display: inline-block;

    background: url('../images/cutomize.jpg') no-repeat;

    background-size: 100%;

    width: 30%;

    height: 422px;

    background-position: center;

    margin-left: 5px;

    margin-right: 5px;

}

.homeDivcuto:hover .homeservices-link {

    background:#3498db;

}



@media (max-width: 700px) {

    .homeDiv2 .homeservices-link {

        background: #404040 none repeat scroll 0% 0%;

    }

}



.homeDiv2 .homeservices-link {

    background: rgba(64, 64, 64, 0.50);

    z-index: -1;

    position: relative;

    padding: 20px 15px;

    margin: auto;

    text-align: center;

    font-family: 'Century Gothic';

    color: white;

    border: 2px solid;

    border-color: white;

    font-size: 14px;

    line-height: 14px;

    text-transform: uppercase;

    cursor: pointer;

    margin-top: 50%;

    width: 38%;

    z-index: 1000;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

    font-weight: bold;

}



    .homeDiv2 .homeservices-link:hover {

        color: #fff;

    }



.homeDiv3 .homeservices-link {

    position: relative;

    padding: 20px 15px;

    margin: auto;

    text-align: center;

    font-family: 'Century Gothic';

    color: white;

    background: rgba(134,134,134,1);

    font-size: 14px;

    line-height: 14px;

    text-transform: uppercase;

    cursor: pointer;

    z-index: 1000;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



    .homeDiv3 .homeservices-link:hover {

        color: #fff;

    }



.homeDiv3 {

    display: inline-block;

    vertical-align: top;

    width: 49%;

}



#homeseccionInfo span a {

    color: rgba(0, 0, 0, 0.44);
font-weight: bold;
}



    #homeseccionInfo span a:hover {

        color: rgba(0, 0, 0, 1);

    }



@media (max-width: 700px) {

    #homeseccionInfo {

        height: 441px !important;

    }



    .homeDiv3 {

        width: 100%;

    }

}



/* #testimonials section

================================================== */

.hometest {

    position: relative;

    width: 100%;

    z-index: 100;

    text-align: center;

    margin: 0 auto;

}



    .hometest h6 {

        font-family: 'Century Gothic';

        font-size: 16px;

        line-height: 22px;

        padding-bottom: 25px;

        padding-top: 15px;

        color: #fff;

    }



    .hometest p {

        padding-bottom: 10px;

        font-size: 90%;

        text-align: center;

        color: #fff;

    }



    .hometest span {

        border-top: 1px solid rgba(255,255,255,.7);

        padding-top: 5px;

    }



.homeicon-test {

    position: relative;

    font-family: 'Century Gothic';

    font-size: 26px;

    line-height: 26px;

    height: 26px;

    width: 100%;

    margin: 0 auto;

    padding-bottom: 20px;

    text-align: center;

}







/* DIRECTION CONTROLS (NEXT / PREV) */



.homebx-wrapper {

    position: relative;

    width: 100%;

}



    .homebx-wrapper .homebx-prev {

        left: 50%;

        margin-left: -35px;

        bottom: -40px;

        background: url(../images/arr1.png) no-repeat center center;

        background-size: 15px 15px;

        border-top-left-radius: 3px;

        border-bottom-left-radius: 3px;

        -webkit-transition: all 0.2s ease-out;

        -moz-transition: all 0.2s ease-out;

        -o-transition: all 0.2s ease-out;

        transition: all 0.2s ease-out;

    }



    .homebx-wrapper .homebx-next {

        right: 50%;

        margin-right: -35px;

        bottom: -40px;

        background: url(../images/arr2.png) no-repeat center center;

        background-size: 15px 15px;

        border-top-right-radius: 3px;

        border-bottom-right-radius: 3px;

        -webkit-transition: all 0.2s ease-out;

        -moz-transition: all 0.2s ease-out;

        -o-transition: all 0.2s ease-out;

        transition: all 0.2s ease-out;

    }



    .homebx-wrapper .homebx-prev:hover {

        -webkit-transform: scale(0.95);

        -moz-transform: scale(0.95);

        -ms-transform: scale(0.95);

        -o-transform: scale(0.95);

        transform: scale(0.95);

    }



    .homebx-wrapper .homebx-next:hover {

        -webkit-transform: scale(0.95);

        -moz-transform: scale(0.95);

        -ms-transform: scale(0.95);

        -o-transform: scale(0.95);

        transform: scale(0.95);

    }



    .homebx-wrapper .homebx-controls-direction a {

        position: absolute;

        outline: 0;

        width: 30px;

        height: 30px;

        text-indent: -9999px;

        z-index: 9;

    }



        .homebx-wrapper .homebx-controls-direction a.homedisabled {

            display: none;

        }











.homefacts-wrap {

    position: relative;

    width: 100%;

    margin: 0 auto;

    text-align: center;

}



    .homefacts-wrap h6 {

        padding-top: 15px;

        color: #fff;

    }



.homefacts-line {

    position: absolute;

    width: 1px;

    background: #fff;

    opacity: .2;

    right: -10px;

    top: 30px;

    bottom: 30px;

    z-index: 20;

}



@media (max-width: 600px) {

    .homefacts-wrap-num {

        font-size: 50px !important;

    }



    .homefacts-wrap h6 {

        padding-top: 0px !important;

    }

}



.homefacts-wrap-num {

    font-family: 'Century Gothic';

    font-weight: 300;

    font-size: 80px;

    line-height: 80px;

    text-shadow: 0px -2px 0px rgba(51,51,51,.1), 0px 2px 3px rgba(102,102,102,.1);

    width: 100%;

    text-align: center;

    opacity: .9;

}





.homeparallax {

    background: url('../images/parallax/1.jpg') repeat fixed;

    background-size: cover;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: -1;

    width: 100%;

}



.homeparallax22 {

    background: url('../images/parallax/9.jpg') repeat fixed;

    background-size: cover;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: -1;

    width: 100%;

}



.homejust_pattern1 {

    background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(0,0,0,0.01)), to(rgba(0,0,0,.9)));

    background: -webkit-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));

    background: -moz-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));

    background: -ms-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));

    background: radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.9));

    position: absolute;

    left: 0px;

    top: 0px;

    right: 0;

    bottom: 0;

    width: 100%;

    height: 100%;

    z-index: 2;

}



@media only screen and (min-width: 1930px) {

    .homeparallax {

        background-size: cover;

    }

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .homeparallax {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}



@media only screen and (max-width: 959px) {

    .homeparallax {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}



.homeparallax1 {

    background: url('../images/parallax/2.jpg') repeat fixed;

    background-size: cover;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: -1;

    width: 100%;

}



@media only screen and (min-width: 1930px) {

    .homeparallax1 {

        background-size: cover;

    }

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .homeparallax1 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}



@media only screen and (max-width: 959px) {

    .homeparallax1 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}





#homeaction {

    position: relative;

    width: 100%;

    background: rgba(0,0,0,.3);

    padding-top: 30px;

    padding-bottom: 30px;

    margin-bottom: 150px;

    z-index: 200;

    -webkit-transition: all 0.3s ease-out;

    -moz-transition: all 0.3s ease-out;

    -o-transition: all 0.3s ease-out;

    transition: all 0.3s ease-out;

}



    #homeaction:hover {

        background: rgba(0,0,0,.5);

    }



    #homeaction h6 {

        color: #fff;

    }



    #homeaction p {

        padding-top: 10px;

        text-align: center;

        text-transform: uppercase;

    }













#homecontact {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    padding-top: 100px;

}



.homeparallax2 {

    background: url('../images/parallax/3.jpg') repeat fixed;

    background-size: cover;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: -1;

    width: 100%;

}



@media only screen and (min-width: 1930px) {

    .homeparallax2 {

        background-size: cover;

    }

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .homeparallax2 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}



@media only screen and (max-width: 959px) {

    .homeparallax2 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}



.homecontact-wrap {

    position: relative;

    margin: 0 auto;

    overflow: hidden;

    padding-top: 40px;

    padding-bottom: 40px;

    padding-left: 40px;

    padding-right: 40px;

    background: rgba(0,0,0,.home4);

}



    .homecontact-wrap h6 {

        padding-bottom: 25px;

        text-align: center;

        color: #fff;

    }



    .homecontact-wrap p {

        padding-bottom: 30px;

        text-align: center;

        color: #fff;

        opacity: .8;

    }



        .homecontact-wrap p span {

            font-family: 'Century Gothic';

            color: #fff;

            font-size: 20px;

            line-height: 20px;

            text-transform: uppercase;

            padding-right: 10px;

            font-weight: 800;

        }



.homeicon-contact1 {

    font-family: 'Century Gothic';

    font-size: 20px;

    line-height: 20px;

    text-align: center;

    z-index: 6;

    padding-right: 10px;

}



.homecontact-wrap p:last-child {

    padding-bottom: 0;

}



#homeajax-form {

    width: 100%;

    font-family: 'Century Gothic';

    font-size: 10px;

    line-height: 14px;

    color: #fff;

    margin: 0 auto;

    text-transform: uppercase;

}



label {

    display: block;

    font-family: 'Century Gothic';

    font-size: 14px;

    line-height: 32px;

}



input {

    width: 96%;

    border: none;

    margin-bottom: 10px;

    font-family: 'Century Gothic';

    padding-top: 5px;

    padding-bottom: 5px;

    background: rgba(0,0,0,0);

}



textarea {

    width: 96%;

    font: 13px/22px 'Open Sans', sans-serif;

    height: 90px;

    margin-top: 2px;

    padding-top: 5px;

    padding-bottom: 5px;

    border: none;

    background: rgba(0,0,0,0);

}



.homeerror {

    font: 10px/22px 'Open Sans', sans-serif;

    text-transform: uppercase;

    display: none;

    color: #fff;

}



#homeajaxsuccess {

    background: #f5f5f5;

    color: #000;

    font: 20px/60px 'Open Sans', sans-serif;

    height: 60px;

    display: none;

    padding-left: 10px;

    width: 100%;

    margin-left: auto;

    margin-right: auto;

    margin-top: 30px;

}



#homebutton-con {

    position: relative;

    text-align: center;

    width: 100%;

    margin: 0 auto;

    margin-top: 10px;

}



    #homebutton-con button {

        width: 100%;

        height: 40px;

        padding-top: 0;

        margin: 0 auto;

        text-align: center;

        font-family: 'Century Gothic';

        font-size: 13px;

        line-height: 40px;

        color: #fff;

        background: rgba(0,0,0,.4);

        text-transform: uppercase;

    }



        #homebutton-con button:hover {

            background: rgba(0,0,0,.6);

        }



        #homebutton-con button:focus {

            outline: none !important;

        }



.hometext-align-center {

    text-align: center;

    padding-top: 10px;

}



#homeajax-form textarea:active,

#homeajax-form input:active {

    color: #fff;

    border-bottom: 1px solid rgba(100,100,100,.3);

}



#homeajax-form textarea:active,

#homeajax-form input:hover {

    color: #fff;

    border-bottom: 1px solid rgba(255,255,255,.3);

}



#homeajax-form textarea:focus,

#homeajax-form input:focus {

    outline: none !important;

    border-color: rgba(255,255,255,.6);

    box-shadow: 0 0 10px rgba(0,0,0,.4);

}



#homeajax-form textarea,

#homeajax-form input {

    color: #fff;

    border-bottom: 1px solid rgba(255,255,255,.3);

}



    #homeajax-form input[type="text"] {

        padding-left: 2%;

        padding-right: 2%;

    }



    #homeajax-form input[type="text"], textarea {

        padding-left: 2%;

        padding-right: 2%;

    }















#homegoogle_map {

    -webkit-filter: grayscale(90%);

    -moz-filter: grayscale(90%);

    -ms-filter: grayscale(90%);

    -o-filter: grayscale(90%);

    filter: grayscale(90%);

    filter: url(../images/grayscale.svg#greyscale);

    filter: gray; /* IE 6-9 */

}



#homegoogle_map {

    width: 100%;

    height: 400px;

    z-index: 0;

    position: relative;

    display: none;

    z-index: 200;

    opacity: .8;

}



.homebutton-map {

    margin-top: 50px;

    cursor: pointer;

    text-align: center;

    position: relative;

    width: 100%;

    display: block;

    color: #fff;

    background: rgba(0,0,0,.3);

    font-size: 16px;

    font-family: 'Century Gothic';

    text-transform: uppercase;

    padding: 30px 0;

    z-index: 200;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



.homeclose-map:after {

    content: "\f107";

    font-family: 'Century Gothic';

    display: inline-block;

    font-weight: normal;

    font-style: normal;

    display: inline-block;

    text-decoration: inherit;

    margin-left: 16px;

    font-size: 18px;

}



.homeshow-map:after {

    content: "\f106";

    font-family: 'Century Gothic';

    display: inline-block;

    font-weight: normal;

    font-style: normal;

    display: inline-block;

    text-decoration: inherit;

    margin-left: 16px;

    font-size: 18px;

}



.homebutton-map:hover {

    background: rgba(0,0,0,.7);

    color: #fff;

}



.homemap-tooltip h6 {

    color: #292929;

    text-transform: uppercase;

    margin-left: 20px;

    font-size: 18px;

    margin-bottom: 10px;

    margin-top: 10px;

}



.homemap-tooltip p {

    margin-bottom: 10px;

    margin-left: 20px;

    font-size: 13px;

    text-align: center;

}





/* #footer

================================================== */

#homefooter a {

    color: white;
    line-height: 25px;
    font-size: 14px;

}



    #homefooter a:hover {

        color: #3498db;

    }



#homefooter {

    position: relative;

    margin: 0 auto;

    width: 100%;

    background: rgba(39, 40, 36, 1);

    padding-top: 60px;

    padding-bottom: 35px;

}



    #homefooter .homeback-top {

        position: absolute;

        cursor: pointer;

        top: -10px;

        left: 50%;

        margin-left: -20px;

        width: 40px;

        height: 40px;

        font-family: 'Century Gothic';

        border-top-left-radius: 3px;

        border-top-right-radius: 3px;

        text-align: center;

        z-index: 999;

        font-size: 22px;

        line-height: 40px;

        background: #f2f2f2;

        -webkit-box-shadow: 0 -5px 15px -5px #000;

        -moz-box-shadow: 0 -5px 15px -5px #000;

        box-shadow: 0 -5px 15px -5px #000;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

    }



        #footer .homeback-top:hover {

            background: #fff;

            -webkit-box-shadow: 0 -5px 5px -5px #000;

            -moz-box-shadow: 0 -5px 5px -5px #000;

            box-shadow: 0 -5px 5px -5px #000;

        }



    #homefooter p {

        text-transform: uppercase;

        font-size: 12px;

        line-height: 13px;

        text-align: center;

    }



.homeicon-footer {

    font-family: 'Century Gothic';

    font-size: 16px;

    line-height: 22px;

    text-align: center;

    z-index: 6;

    padding-left: 5px;

    padding-right: 5px;

}



/* #work

================================================== */



#homework {

    position: relative;

    margin: 0 auto;

    width: 100%;

    background: #f2f2f2;

    overflow: hidden;

    padding-top: 50px;

    z-index: 2;

}



@media (max-width: 880px) {

    .homeportfolio-wrap {

        display: none;

    }



    #homeabout h1 {

        display: none;

    }

}



.homeportfolio-wrap {

    position: relative;

    width: 100%;

    overflow: hidden;

}



.homeportfolio-box {

    position: relative;

    width: 25%;

    overflow: hidden;

    display: inline-block;

    float: left;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



    .homeportfolio-box img {

        width: 100%;

        height: auto;

        display: block;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

    }



    .homeportfolio-box .homemask {

        position: absolute;

        background: rgba(0,0,0,.7);

        top: 0;

        left: 0;

        width: 100%;

        height: 100%;

        display: block;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

        opacity: 0;

    }



        .homeportfolio-box .homemask:hover {

            opacity: 1;

        }



    .homeportfolio-box:hover .homemask {

        -webkit-transform: scale(1);

        -moz-transform: scale(1);

        -ms-transform: scale(1);

        -o-transform: scale(1);

        transform: scale(1);

    }



    .homeportfolio-box h4:hover {

        background: #3498db;

    }



    .homeportfolio-box h4 {

        position: relative;

        padding: 20px 15px;

        margin: auto;

        text-align: center;

        font-family: 'Century Gothic';

        color: white;

        border: 2px solid;

        border-color: white;

        font-size: 14px;

        line-height: 14px;

        text-transform: uppercase;

        cursor: pointer;

        z-index: 1000;

        top: 50%;

        width: 80px;

        -webkit-transition: all 300ms linear;

        -moz-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        -ms-transition: all 300ms linear;

        transition: all 300ms linear;

        font-weight: bold;

    }



    .homeportfolio-box:hover h4 {

        opacity: 1;

        color: #fff;

        margin: auto;

        top: 50%;

        right: 0;

        width: 80px;

    }



#homeportfolio-filter {

    position: relative;

    width: 100%;

    text-align: center;

}



#homefilter {

    position: relative;

    width: 100%;

}



    #homefilter li {

        display: inline-block;

    }



        #homefilter li a {

            position: relative;

            display: inline-block;

            font-family: 'Century Gothic';

            font-weight: bold;

            font-size: 13px;

            outline: none;

            color: #706e6e;

            text-decoration: none;

            text-transform: uppercase;

            text-shadow: 0 0 1px rgba(255,255,255,0.3);

            margin-left: 8px;

            margin-right: 8px;

            margin-bottom: 30px;

            -webkit-transition: all 300ms linear;

            -moz-transition: all 300ms linear;

            -o-transition: all 300ms linear;

            -ms-transition: all 300ms linear;

            transition: all 300ms linear;

        }



            #homefilter li a:after {

                content: '::::';

                font-family: 'Century Gothic';

                font-weight: 400;

                font-size: 12px;

                color: #706e6e;

                padding-left: 20px;

                opacity: .5;

            }



        #homefilter li:last-child a:after {

            display: none;

        }



        #homefilter li .homecurrent {

            color: #bdb3b3;

        }



        #homefilter li a:hover {

            color: #bdb3b3;

        }



.homeisotope-item {

    z-index: 2;

}



.homeisotope-hidden.homeisotope-item {

    pointer-events: none;

    z-index: 1;

}



.homeisotope, .homeisotope .homeisotope-item {

    -webkit-transition-duration: 0.6s;

    -moz-transition-duration: 0.6s;

    transition-duration: 0.6s;

}



.homeisotope {

    -webkit-transition-property: height, width;

    -moz-transition-property: height, width;

    transition-property: height, width;

}



    .homeisotope .homeisotope-item {

        -webkit-transition-property: -webkit-transform, opacity;

        -moz-transition-property: -moz-transform, opacity;

        -ms-transition-property: -ms-transform, opacity;

        -o-transition-property: top, left, opacity;

        transition-property: transform, opacity;

    }





/* #Projects

================================================== */



/* Expander Item Styles */

.homerelative {

    position: relative;

}



.homeportfolio {

    width: 100%;

    height: auto;

    margin: 0 auto;

    max-width: 960px;

}



.homeexpander-wrap {

    position: relative;

    display: none;

    text-align: center;

}



#homeexpander-wrap {

    position: relative;

    width: 100%;

    max-width: 960px;

    margin: 0 auto;

    overflow: hidden;

}





/* Expander Item Controls */



.homeproject-controls {

    position: relative;

    width: 100%;

    height: auto;

    top: 105px;

    max-width: 960px;

    margin: 0 auto;

}



.homeexpander-inner {

    position: relative;

}



.homecls-btn {

    width: 100%;

    padding: 0;

    margin: 0 auto;

    display: block;

    height: auto;

}



.homeexpander-wrap .homecls-btn .homeclose {

    position: relative;

    display: inline-block;

    color: #000;

    top: 0;

    margin-top: 105px;

    width: auto;

    height: auto;

    font-size: 30px;

    font-weight: 100;

    text-align: center;

    cursor: pointer;

    float: none;

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

}



.homeexpander-close:hover {

    color: #3a3a3a;

    cursor: pointer;

}





.homejust_pattern11 {

    background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(0,0,0,0.01)), to(rgba(0,0,0,.4)));

    background: -webkit-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));

    background: -moz-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));

    background: -ms-radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));

    background: radial-gradient(circle, rgba(0,0,0,0.01), rgba(0,0,0,.4));

    position: absolute;

    left: 0px;

    top: 0px;

    right: 0;

    bottom: 0;

    width: 100%;

    height: 100%;

    z-index: 2;

}



















#homeproject-single-slider {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    z-index: 2;

    padding-top: 10px;

    padding-bottom: 20px;

}



    #project-single-slider h1 {

        color: #fff;

    }



    #homeproject-single-slider .homebx-wrapper .homebx-prev {

        bottom: 20px;

    }



    #homeproject-single-slider .homebx-wrapper .homebx-next {

        bottom: 20px;

    }



#homelast-work {

    position: relative;

    margin: 0 auto;

    padding-bottom: 20px;

    width: 100%;

    overflow: hidden;

    z-index: 2;

}



    #homelast-work img {

        width: 100%;

        height: auto;

        display: block;

    }



    #last-work h2 {

        text-align: center;

        padding-bottom: 25px;

    }



    #homelast-work h6 {

        text-align: left;

        padding-bottom: 25px;

    }



    #homelast-work p {

        text-align: left;

        padding-bottom: 30px;

    }



        #homelast-work p:last-child {

            padding-bottom: 0;

        }



#homeslider-wrap {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    z-index: 2;

}



    #homeslider-wrap img {

        width: 100%;

        height: auto;

        display: block;

    }



.homepadding-project {

    padding-top: 50px;

    padding-bottom: 50px;

}



#homesep8 .homez-index {

    z-index: 2000;

}



#homesep8 {

    position: relative;

    display: block;

    width: 100%;

    overflow: hidden;

    padding-top: 150px;

    padding-bottom: 150px;

    z-index: 2;

}



.homeparallax8 {

    background: url('../images/projects/16.jpg') repeat fixed;

    background-size: cover;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: -1;

    width: 100%;

}



@media only screen and (min-width: 1930px) {

    .homeparallax8 {

        background-size: cover;

    }

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .homeparallax8 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}



@media only screen and (max-width: 959px) {

    .homeparallax8 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}





#homeproject-single-video {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    z-index: 2;

}



    #homeproject-single-video h1 {

        color: #fff;

    }



#homethevideo {

    display: none;

}



.homevideo {

    width: 100%;

    height: auto;

    display: block;

}



iframe {

    width: 100%;

    height: auto;

    display: block;

}



#homesep9 .homez-index {

    z-index: 2000;

}



#homesep9 {

    position: relative;

    display: block;

    width: 100%;

    overflow: hidden;

    padding-top: 150px;

    padding-bottom: 150px;

    z-index: 2;

}



.homeparallax9 {

    background: url('../images/projects/26.jpg') repeat fixed;

    background-size: cover;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: -1;

    width: 100%;

}



@media only screen and (min-width: 1930px) {

    .homeparallax9 {

        background-size: cover;

    }

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .homeparallax9 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}



@media only screen and (max-width: 959px) {

    .homeparallax9 {

        background-size: cover;

        background-attachment: scroll;

        background-position: top center !important;

    }

}





/* #services

================================================== */

@media (max-width: 700px) {

    #homeservices {

        padding-top: 0px !important;

        padding-bottom: 0px !important;

    }

}



#homeservices {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    padding-top: 26px;

    padding-bottom: 0px;

    z-index: 2;

}



#homeExplica {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    padding-top: 50px;

    padding-bottom: 70px;

    z-index: 2;

}



.homelast-services {

    position: relative;

    margin: 0 auto;

    padding: 20px;

    background-color: #f2f2f2;

    background-image: url('../images/qud1.png');

    background-repeat: no-repeat;

    background-position: top right;

    overflow: hidden;

    z-index: 2;

    cursor: pointer;

    -webkit-transition: background-image .35s ease-in-out;

    -moz-transition: background-image .35s ease-in-out;

    -ms-transition: background-image .35s ease-in-out;

    -o-transition: background-image .35s ease-in-out;

    transition: background-image .35s ease-in-out;

}



    .homelast-services:hover {

        background-image: url('../images/qud2.png');

    }



    .homelast-services h6 {

        position: relative;

        display: inline-block;

        padding-left: 15px;

        text-align: left;

        padding-bottom: 25px;

    }



    .homelast-services p {

        text-align: left;

    }



.homeicon-left1 {

    position: relative;

    display: inline-block;

    font-family: 'Century Gothic';

    line-height: 32px;

    font-size: 22px;

    text-align: left;

    z-index: 6;

    width: 22px;

    height: 32px;

}



.homelast-services1 {

    position: relative;

    margin: 0 auto;

    padding: 20px;

    background-color: #f2f2f2;

    background-image: url('../images/qud.png');

    background-repeat: no-repeat;

    background-position: top left;

    overflow: hidden;

    text-align: right;

    z-index: 2;

    cursor: pointer;

    -webkit-transition: background-image .35s ease-in-out;

    -moz-transition: background-image .35s ease-in-out;

    -ms-transition: background-image .35s ease-in-out;

    -o-transition: background-image .35s ease-in-out;

    transition: background-image .35s ease-in-out;

}



    .homelast-services1:hover {

        background-image: url('../images/qud2.png');

    }



    .homelast-services1 h6 {

        position: relative;

        display: inline-block;

        padding-right: 15px;

        text-align: right;

        padding-bottom: 25px;

    }



    .homelast-services1 p {

        text-align: right;

    }



.homeicon-right1 {

    position: relative;

    display: inline-block;

    font-family: 'Century Gothic';

    line-height: 32px;

    font-size: 22px;

    text-align: right;

    z-index: 6;

    width: 22px;

    height: 32px;

}





/* #pricing

================================================== */



#homepricing {

    position: relative;

    margin: 0 auto;

    width: 100%;

    overflow: hidden;

    background: #f2f2f2;

    padding-top: 50px;

    padding-bottom: 70px;

    z-index: 2;

}



.homeservices-offer {

    position: relative;

    margin: 0 auto;

    width: 100%;

    background: #fff;

    margin-top: 13px;

    margin-bottom: 13px;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



    .homeservices-offer:hover {

        -webkit-transform: scale(1.05);

        -moz-transform: scale(1.05);

        -ms-transform: scale(1.05);

        -o-transform: scale(1.05);

        transform: scale(1.05);

        -webkit-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);

        -moz-box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);

        box-shadow: 0 9px 9px -7px rgba(0,0,0,.2);

    }



        .homeservices-offer:hover h6,

        .homeservices-offer:hover p,

        .homeservices-offer:hover .homeservices-icon1:before,

        .homeservices-offer:hover .homeservices-icon2:before,

        .homeservices-offer:hover .homeservices-icon3:before {

        }



    .homeservices-offer h6 {

        text-align: center;

        padding-top: 20px;

        padding-bottom: 25px;

    }



    .homeservices-offer p {

        text-align: center;

        padding-top: 20px;

        padding-left: 20px;

        padding-right: 20px;

        padding-bottom: 20px;

    }



    .homeservices-offer .homeservices-icon {

        position: relative;

        margin: 0 auto;

        width: 100%;

        text-align: center;

        font-family: 'Century Gothic';

        font-size: 54px;

        line-height: 60px;

        height: 60px;

    }



        .homeservices-offer .homeservices-icon:before {

            position: absolute;

            top: 0;

            left: -40px;

            font-family: 'Century Gothic';

            content: "$";

            width: 100%;

            font-size: 20px;

            line-height: 20px;

            display: block;

            z-index: 1;

        }



.homeno-touch.homecssanimations .homeservices-offer .homeservices-icon:before {

    -webkit-animation: dollar 6s linear infinite;

    -moz-animation: dollar 6s linear infinite;

    animation: dollar 6s linear infinite;

}



.homeservices-list p {

    margin: 10px 0 10px 0;

    padding: 0;

}





.homelist-services li {

    list-style: none;

    margin: 0 auto;

    text-align: center;

    border-top: 1px dashed rgba(100,100,100,.4);

    margin-left: 20px;

    margin-right: 20px;

    font-size: 10px;

    text-transform: uppercase;

}



    .homelist-services li:last-child {

        border-bottom: 1px dashed rgba(100,100,100,.4);

    }



.homeservices-offer:hover .homelist-services li {

    border-top: 1px dashed rgba(100,100,100,.4);

}



    .homeservices-offer:hover .homelist-services li:last-child {

        border-bottom: 1px dashed rgba(100,100,100,.4);

    }



.homeservices-offer .homeservices-link {

    position: relative;

    margin: 0 auto;

    padding: 20px 15px;

    text-align: center;

    font-family: 'Century Gothic';

    color: #292929;

    background: rgba(230,230,230,1);

    font-size: 14px;

    line-height: 14px;

    text-transform: uppercase;

    cursor: pointer;

    margin-top: 20px;

    -webkit-transition: all 300ms linear;

    -moz-transition: all 300ms linear;

    -o-transition: all 300ms linear;

    -ms-transition: all 300ms linear;

    transition: all 300ms linear;

}



    .homeservices-offer .homeservices-link:hover {

        color: #fff;

    }



.homefeatured {

    -webkit-transform: scale(1.05);

    -moz-transform: scale(1.05);

    -ms-transform: scale(1.05);

    -o-transform: scale(1.05);

    transform: scale(1.05);

}







@keyframes dollar {

    0% {

        top: 0;

    }



    10% {

        top: 10px;

    }



    20% {

        top: 0;

    }



    30% {

        top: 10px;

    }



    40% {

        top: -5px;

    }



    50% {

        top: 10px;

    }



    60% {

        top: 0;

    }



    70% {

        top: 10px;

    }



    80% {

        top: -5px;

    }



    90% {

        top: 10px;

    }



    100% {

        top: 0;

    }

}



@-webkit-keyframes dollar {

    0% {

        top: 0;

    }



    10% {

        top: 10px;

    }



    20% {

        top: 0;

    }



    30% {

        top: 10px;

    }



    40% {

        top: -5px;

    }



    50% {

        top: 10px;

    }



    60% {

        top: 0;

    }



    70% {

        top: 10px;

    }



    80% {

        top: -5px;

    }



    90% {

        top: 10px;

    }



    100% {

        top: 0;

    }

}





/* #Logos

================================================== */



#homelogos {

    position: relative;

    margin: 0 auto;

    text-align: center;

    width: 100%;

    background: #fff;

    overflow: hidden;

    padding-top: 22px;

    padding-bottom: 22px;

    z-index: 2;

}



.homelogos-wrap {

    position: relative;

    float: left;

    display: inline-block;

    text-align: center;

    margin: 0 auto;

    width: 23.666667%;

    overflow: hidden;

    z-index: 2;

    font-weight: bold;

    font-size: 14px;

    font-family: 'Century Gothic';

}



    .homelogos-wrap img {

        width: 60%;

        height: auto;

        margin-left: 20%;

        margin-right: 20%;

        display: block;

        -webkit-transition: all .35s ease-in-out;

        -moz-transition: all .35s ease-in-out;

        -ms-transition: all .35s ease-in-out;

        -o-transition: all .35s ease-in-out;

        transition: all .35s ease-in-out;

    }



    .homelogos-wrap:hover img {

        opacity: .7;

    }







/* #Media Queries

================================================== */





@media only screen and (max-width: 800px) {

    h1 {

        font-size: 28px;

        line-height: 28px;

    }



    #homeroyal_preloader.hometext .homeloader {

        letter-spacing: 2px;

        font-size: 26px;

    }



    .homelogo {

        width: 150px;

        height: 50px;

        left: 10px;

        top: 10px;

        background: url('../images/logo.png') no-repeat center center;

        background-size: 100%;

    }



    .homecbp-af-header.homecbp-af-header-shrink .homelogo {

        width: 80px;

        height: 50px;

        left: 10px;

        top: 10px;

        background: url('../images/logo.png') no-repeat center center;

        background-size: 80px 50px;

        -webkit-transition: all 0.5s ease-out;

        -moz-transition: all 0.5s ease-out;

        -o-transition: all 0.5s ease-out;

        transition: all 0.5s ease-out;

    }



    .homecbp-af-header.homecbp-af-header-shrink ul.homeslimmenu li a {

        border-bottom: none;

    }



        .homecbp-af-header.homecbp-af-header-shrink ul.homeslimmenu li a:hover {

            border-bottom: none;

            background: none;

        }



    .homecbp-af-header.homecbp-af-header-shrink ul.homeslimmenu li {

        background: none;

    }



    ul.homeslimmenu li a: {

        border-bottom: none;

    }



        ul.homeslimmenu li a:hover {

            border-bottom: none;

            background: none;

        }



    ul.homeslimmenu li {

        background: none;

    }



        ul.homeslimmenu li > ul {

            width: 100%;

            text-align: right;

        }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .homeprev {

        left: 100px;

    }



    .homenext {

        right: 100px;

    }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .homebig-text {

        margin-top: -40px;

        font-size: 40px;

        line-height: 40px;

    }



    .homesmall-text {

        margin-top: 25px;

    }



    .homesocial-top {

        margin-top: 65px;

    }



    .homeprev {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-left.png') no-repeat center center;

        background-size: 16px 29px;

        left: 20px;

        width: 16px;

        height: 29px;

    }



    .homenext {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-right.png') no-repeat center center;

        background-size: 16px 29px;

        right: 20px;

        width: 16px;

        height: 29px;

    }



    .homeflipWrapper {

        height: 236px;

    }



        .homeflipWrapper svg {

            display: none;

        }



        .homeflipWrapper .homecard .homeface {

            padding-top: 0;

            padding-bottom: 0;

            padding-left: 0;

            padding-right: 0;

            width: 100%;

        }

}



@media only screen and (min-width: 480px) and (max-width: 767px) {

    .homebig-text {

        margin-top: -40px;

        font-size: 30px;

        line-height: 30px;

    }



    .homesmall-text {

        margin-top: 20px;

        font-size: 20px;

        line-height: 20px;

    }



    .homesocial-top {

        margin-top: 50px;

    }



    .homeprev {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-left.png') no-repeat center center;

        background-size: 16px 29px;

        left: 20px;

        width: 16px;

        height: 29px;

    }



    .homenext {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-right.png') no-repeat center center;

        background-size: 16px 29px;

        right: 20px;

        width: 16px;

        height: 29px;

    }



    #homeabout svg {

        display: none;

    }



    .homeflipWrapper {

        height: 420px;

    }



        .homeflipWrapper svg {

            display: none;

        }



        .homeflipWrapper .homecard .homeface {

            padding-top: 0;

            padding-bottom: 0;

            padding-left: 0;

            padding-right: 0;

            width: 100%;

        }



    .homefacts-line {

        display: none;

    }



    .homelogos-wrap {

        width: 33.3333333333333333333333333%;

    }

}



@media only screen and (min-width: 320px) and (max-width: 479px) {

    .homebig-text {

        margin-top: -40px;

        font-size: 20px;

        line-height: 20px;

    }



        .homebig-text span {

            padding-left: 15px;

            padding-right: 15px;

        }



    .homesmall-text {

        margin-top: 20px;

        font-size: 14px;

        line-height: 14px;

    }



    .homesocial-top {

        margin-top: 50px;

    }



    .homeprev {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-left.png') no-repeat center center;

        background-size: 16px 29px;

        left: 20px;

        width: 16px;

        height: 29px;

    }



    .homenext {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-right.png') no-repeat center center;

        background-size: 16px 29px;

        right: 20px;

        width: 16px;

        height: 29px;

    }



    #homeabout svg {

        display: none;

    }



    .homeflipWrapper {

        height: 300px;

    }



        .homeflipWrapper svg {

            display: none;

        }



        .homeflipWrapper .homecard .homeface {

            padding-top: 0;

            padding-bottom: 0;

            padding-left: 0;

            padding-right: 0;

            width: 100%;

        }



    .homefacts-line {

        display: none;

    }



    .homelogos-wrap {

        width: 50%;

    }



    .homeproject-info {

        width: 200px;

    }

}



@media only screen and (max-width: 319px) {

    .homebig-text {

        margin-top: -30px;

        font-size: 15px;

        line-height: 15px;

    }



        .homebig-text span {

            padding-left: 0;

            padding-right: 0;

            padding-bottom: 0;

            border: none;

        }



    .homesmall-text {

        margin-top: 0;

        font-size: 14px;

        line-height: 14px;

    }



    .homesocial-top {

        margin-top: 20px;

    }



    .homeprev {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-left.png') no-repeat center center;

        background-size: 16px 29px;

        left: 20px;

        width: 16px;

        height: 29px;

    }



    .homenext {

        top: auto;

        bottom: 20px;

        margin-top: 0;

        background: url('../images/arrow-right.png') no-repeat center center;

        background-size: 16px 29px;

        right: 20px;

        width: 16px;

        height: 29px;

    }



    #homeabout svg {

        display: none;

    }



    .homeflipWrapper {

        height: 220px;

    }



        .homeflipWrapper svg {

            display: none;

        }



        .homeflipWrapper .homecard .homeface {

            padding-top: 0;

            padding-bottom: 0;

            padding-left: 0;

            padding-right: 0;

            width: 100%;

        }



    .homefacts-line {

        display: none;

    }



    .homelogos-wrap {

        width: 50%;

    }



    .homeproject-info {

        width: 200px;

    }

}







/* #Font-Face

================================================== */







@font-face {

    font-family: 'OpenSans-Light-webfont';

    src: url('font/OpenSans-Light-webfont.homeeot');

    src: url('font/OpenSans-Light-webfontd41d.eot?#iefix') format('embedded-opentype'), url('font/OpenSans-Light-webfont.woff') format('woff'), url('font/OpenSans-Light-webfont.ttf') format('truetype'), url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');

    font-weight: normal;

    font-style: normal;

}





#homepalette {

    background-color: #FFF;

}



.homepalette {

    border-left: 1px solid #DDD;

    border-bottom: 1px solid #DDD;

    top: 0;

    right: 0;

    width: 310px;

    display: block;

    overflow: visible;

    z-index: 12;

    position: absolute;

    margin: 0;

    padding: 0;

    border: 0px none;

    outline: 0px none;

    vertical-align: baseline;

}



    .homepalette .homeinner-wrapper {

        position: relative;

        height: 563px;

    }



.homemc-nav {

    left: -35px;

    right: auto;

    height: 100%;

    top: 0px;

    display: table;

    table-layout: fixed;

    width: 35px;

    position: absolute;

    overflow: hidden;

    margin: 0px;

    padding: 0px;

}



.homemc-nav ol, .homemc-nav ol li:last-child .homemctrigger, .homemctrigger.homeactive {

    border-bottom-left-radius: 5px;

}



.homemc-nav ol, .homemc-nav ol li:first-child .homemctrigger, .homemctrigger.homeactive {

    

}



.homemc-nav .homemctrigger, .homemc-nav ol a.homecomplete, .homemc-nav ol .homemctrigger:hover, .homemc-nav ol .homemctrigger.homecomplete:hover, .homemc-nav ol {

    background-color: #EAEAEA;

}

    .homemc-nav ol {

        background-image: url("undefined");

        background-repeat:repeat-y;

        background-position:0px 0px;



    }

    .homemc-nav ol {

        width: 35px;

    }

    .mc-nav ol {

        display: table;

        height: 100%;

    }

ol, ul {

    list-style:outside none none;



}



    .homejsLeft{
float: none!important;
};

#header{
height: 94px;
}