<script type="text/javascript">
/* Blockusreinfo */
	
$(document).ready( function(){
	if( $(window).width() < 991 ){
			 $(".header_user_info").addClass('btn-group');
			 $(".header_user_info .links").addClass('quick-setting dropdown-menu');
		}
		else{
			$(".header_user_info").removeClass('btn-group');
			 $(".header_user_info .links").removeClass('quick-setting dropdown-menu');
		}
	$(window).resize(function() {
		if( $(window).width() < 991 ){
			 $(".header_user_info").addClass('btn-group');
			 $(".header_user_info .links").addClass('quick-setting dropdown-menu');
		}
		else{
			$(".header_user_info").removeClass('btn-group');
			 $(".header_user_info .links").removeClass('quick-setting dropdown-menu');
		}
	});
});
</script>
<!-- Block user information module NAV  -->
<div class="header_user_info pull-right" style="display: none;">
	<div data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-cog"></i><span>{l s='Top links' mod='blockuserinfo'} </span></div>	
		<ul class="links">
		<li class="first">
			<a id="wishlist-total" href="{$link->getModuleLink('blockwishlist', 'mywishlist', array(), true)|addslashes}" title="{l s='My wishlists' mod='blockuserinfo'}"><i class="fa fa-heart"></i>{l s='Wish List' mod='blockuserinfo'}</a>
		</li>
		{if $comparator_max_item}
		<li>
			<form method="post" action="{$link->getPageLink('products-comparison')|escape:'html':'UTF-8'}" class="compare-form">
				<button type="submit" class="btn btn-outline button button-medium bt_compare bt_compare{if isset($paginationId)}_{$paginationId}{/if}" disabled="disabled">
				<i class="fa fa-exchange"></i>
					<span>{l s='Compare'} <strong class="total-compare-val">({count($compared_products)})</strong></span>
				</button>
				<input type="hidden" name="compare_product_count" class="compare_product_count" value="{count($compared_products)}" />
				<input type="hidden" name="compare_product_list" class="compare_product_list" value="" />
			</form>
		</li>
			{if !isset($paginationId) || $paginationId == ''}
				{addJsDefL name=min_item}{l s='Please select at least one product' js=1}{/addJsDefL}
				{addJsDefL name=max_item}{l s='You cannot add more than %d product(s) to the product comparison' sprintf=$comparator_max_item js=1}{/addJsDefL}
				{addJsDef comparator_max_item=$comparator_max_item}
				{addJsDef comparedProductsIds=$compared_products}
			{/if}
		{/if}
		{if $is_logged}
			<li><a class="logout" href="{$link->getPageLink('index', true, NULL, "mylogout")|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Log me out' mod='blockuserinfo'}">
				<i class="fa fa-unlock-alt"></i>{l s='Sign out' mod='blockuserinfo'}
			</a></li>
		{else}
			<li><a class="login" href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Login to your customer account' mod='blockuserinfo'}">
				<i class="fa fa-unlock-alt"></i>{l s='Sign in' mod='blockuserinfo'}
			</a></li>
		{/if}

		<li>
			<a href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" title="{l s='My account' mod='blockuserinfo'}"><i class="fa fa-user"></i>{l s='My Account' mod='blockuserinfo'}</a>
		</li>
		<li class="last"><a href="{$link->getPageLink($order_process, true)|escape:'html':'UTF-8'}" title="{l s='Checkout' mod='blockuserinfo'}" class="last"><i class="fa fa-check"></i>{l s='Checkout' mod='blockuserinfo'}</a></li>
		{if $is_logged}
			<li>
				<a href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}" title="{l s='View my customer account' mod='blockuserinfo'}" class="account" rel="nofollow">
					<i class="fa fa-user"></i>
					<span>{l s='Hello' mod='blockuserinfo'}, {$cookie->customer_firstname} {$cookie->customer_lastname}</span></a>
			</li>
		{/if}
		
		</ul>
	
</div>	