
{assign var='current_step' value='payment'}


<strong class="dark" style="
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 37px;
">¡GRACIAS POR TU PEDIDO!</strong>
<br><br>

<p>Tu pedido se ha completado correctamente
    <br>Tiempo de envío: 7 días

	<br />
    
    <br />{l s='Número de pedido:' mod='visanetperu'} <b>{$pedido}</b>
    <br />{l s='Nombre:' mod='visanetperu'} <b>{$nombre}</b>
    <br />{l s='Tarjeta:' mod='visanetperu'} <b>{$tarjeta}</b>
    <br />{l s='Fecha y hora:' mod='visanetperu'} <b>{$fecha}</b>
    <br />{l s='Moneda:' mod='visanetperu'} <b>{$moneda}</b>
    <br />{l s='Importe:' mod='visanetperu'} <b>{$importe}</b>
    <br />{l s='Producto:' mod='visanetperu'} <b>{$producto}</b>
    <br />{l s='Guarde y/o imprima esta información como recibo de la transacción' mod='visanetperu'}
    
    
    
    
    
	<br /><br />Para resolver cualquier inconveniente no dude en ponerse en contacto con nosotros
	
    
</p>
<script type="text/javascript">



      


        jQuery(document).ready(function () {

        //jQuery('.container').addClass('homecontainer')
        //jQuery('.homecontainer').removeClass('container')

        
            jQuery('#center_column').attr('style','width: 100%');
            $('.page-heading').attr('style','text-align: center');
            $('.button-exclusive').attr('style','display: none');

        }); //ready



    </script>
