<div style="text-align: center;margin-right: 20px;width: 19%;float: right;/* margin: 0; *//* padding: 0; */" id='footervisa' >
	<a  target="_blank"><img src="{$this_path}/logo.png" alt="{l s='visa' mod='visanetperu'}" /></a>
<a target="_blank"><img src="{$this_path}/pagoefectivo_small.png" alt="{l s='verified by visa' mod='visanetperu'}"  /></a>

</div>
