<div class="row">
    <div class="col-xs-12 col-md-6" style="width:100%">
        <p class="payment_module">
            <a href="javascript:void(0)" onclick="$('#visanet_peru_form').submit();" id="visanetperu_process_payment" title="{l s='Pagar con tarjeta de crédito' mod='visanetperu'}"  style='
    
    
    background-image: url("/peru/modules/visanetperu//logo2.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 118px;
    padding-left: 172px;
    background-position-x: 12px;
    font-size: 14px;


'>
                {l s='Pagar con tarjeta de crédito o débito'  mod='visanetperu'}
            </a>
        </p>

        <form style="display: none" id="visanet_peru_form" method="post" action="{$action_url}">
            <input type="hidden" name="ETICKET" value="{$eticket}" />
        </form>
    </div>
</div>
