<form style="display: none" target="_blank" id="visanet_peru" method="post" action="{$action_url}">
    <input type="hidden" name="ETICKET" value="{$eticket}" />
</form>

{literal}
<script type="text/javascript">
    $(document).ready( function() {
        $('#visanet_peru').submit();
    });
</script>
{/literal}
