/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/* lnk on detail product page */
#wishlist_button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Century Gothic";
color: rgb(39,40,36);
font-size: 11px;
text-decoration: underline;
}
#wishlist_button:hover{
  color: rgb(56,151,194);
}
#wishlist_button:before {
  content: "\f004";
  font: 700 15px/30px "FontAwesome";
  width: 18px;
  text-align: center;
  display: inline-block;
  height: 28px;
  margin: 0 6px 0 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
#wishlist_button:hover:before {
  color: rgb(56,151,194);
}

/* wishlist block */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0;
}
#wishlist_block #wishlist_block_list dl {
  font-weight: 400;
}
#wishlist_block #wishlist_block_list dl.products.no-products {
  font-weight: 700;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #eeeeee;
}
#wishlist_block #wishlist_block_list dl.products.no-products dt {
  padding: 0;
  border-top: none;
}
#wishlist_block #wishlist_block_list dl.products.no-products dd {
  display: none;
}
#wishlist_block #wishlist_block_list dl.products {
  border-bottom: 1px solid #eeeeee;
}
#wishlist_block #wishlist_block_list dl.products dt {
  padding: 20px 0 0;
  border-top: 1px solid #eeeeee;
}
#wishlist_block #wishlist_block_list dl.products dd {
  padding: 0 0 20px 0;
}
#wishlist_block #wishlist_block_list dl.products dt.first_item {
  padding: 0;
  border-top: none;
}
#wishlist_block #wishlist_block_list dl dt {
  position: relative;
  padding-right: 0;
}
#wishlist_block #wishlist_block_list dl dd {
  margin: 0 0 0 24px;
}
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  float: right;
}
.rtl #wishlist_block .ajax_cart_block_remove_link {
  float: left;
}
#wishlist_block .ajax_cart_block_remove_link:hover {
  color: #2d84b1;
}
#wishlist_block .cart_block_product_name {
  width: 85%;
  display: inline-block;
  font-weight: bold;
}
#wishlist_block .quantity-formated {
  float: left;
  margin: 0 5px 0 0;
  width: 15px;
}
.rtl #wishlist_block .quantity-formated {
  float: right;
}

#wishlist_block_list .price {
  float: right;
}
.rtl #wishlist_block_list .price {
  float: left;
}

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px;
}

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block;
}

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}
#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
  display: inline-block;
  margin: 10px 10px 10px 0px;
  font-weight: bold;
}

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left;
}
.rtl #module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: right;
}

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right;
}
.rtl #module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: left;
}

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none;
}

/* wlp_bought ****************************************** */
/* wlp_bought_list */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  /*> 992px*/
  /*768px x 991px*/
}
ul.wlp_bought_list li .product_image {
  padding: 9px;
  border: 1px solid #eeeeee;
  margin: 0 0 20px 0;
  max-width: 270px;
}
ul.wlp_bought_list li .product-name {
  margin: 0 0 10px 0;
  padding: 0 20px 0 0;
}
ul.wlp_bought_list li .product-name small {
  display: block;
  font-size: 11px;
}
ul.wlp_bought_list li .product-name small a {
  font-size: 11px;
}
ul.wlp_bought_list li .product_infos {
  position: relative;
}
ul.wlp_bought_list li .btn_action .btn {
  margin: 0 0 10px 0;
  font-size: 12px;
}
@media (min-width: 992px) {
  ul.wlp_bought_list li.first-in-line {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.wlp_bought_list li.first-item-of-tablet-line {
    clear: left;
  }
}

.wishlistLinkTop .submit {
  margin: 0 0 30px 0;
}

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px;
}
