/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
.carousel-control {
  z-index: 9;
  top: -25px;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
}

.carousel-control.left::after {
  content: "\2039";
  font-family: sans-serif;
  margin: -5px 8px 0;
  display: block;
}
.rtl .carousel-control.left::after {
  content: "\203A";
}

.carousel-control.right::after {
  content: "\203A";
  font-family: sans-serif;
  display: block;
  margin: -5px 8px 0;
}
.rtl .carousel-control.right::after {
  content: "\2039";
}

.custom_slide a:first-child img {
  margin-bottom: 20px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* Eff */
.view-fifth {
  position: relative;
  overflow: hidden;
}

.view-fifth .mask {
  position: absolute;
  background-color: #333333;
  top: 0;
  height: 100%;
  color: #fff;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.view-fifth .mask > div {
  padding: 0 10px;
}

.view a.info {
  background: #000;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 4px 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
}

.view a.info:hover {
  background-color: #57AFDA;
}

.view-fifth img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.view-fifth:hover img {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.view-fifth:hover .mask {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.block_content .contact-us li {
  line-height: 35px;
}
.block_content .contact-us li em {
  background: #4A4A4A;
  border-radius: 2px;
  color: #D4D4D4;
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  text-align: center;
  width: 28px;
  padding: 3px 0 3px 4px;
}
.rtl .block_content .contact-us li em {
  margin-left: 10px;
  margin-right: inherit;
}
.rtl .block_content .contact-us li em {
  padding: 3px 4px 3px 0;
}
.block_content .contact-us li:hover em {
  background-color: #434a54;
  color: white;
}

.block .nav-pills > li.active > a {
  position: relative;
  background-color: transparent;
  border: 1px solid #7f7f7f;
  color: #7f7f7f;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.block .nav-pills > li a {
  border: 1px solid transparent;
}
.block .panel-group {
  margin-bottom: 0;
}

.widget-video {
  margin-bottom: 15px;
}

/* Home custom HTML */
.home-html {
  margin: 0px -10px;
  border: 1px dotted #ccc;
  border-right: none;
  border-left: none;
  padding: 15px 0px;
  overflow: hidden;
}
.home-html img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.home-html .img-effect {
  float: left;
}
.rtl .home-html .img-effect {
  float: right;
}
.home-html .img-effect a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.home-html .left-custom {
  padding-left: 0;
}
.rtl .home-html .left-custom {
  padding-right: 0;
  padding-left: inherit;
}
.home-html .left-custom .left-item {
  width: 100%;
}
.home-html .left-custom .left-item a {
  float: left;
  overflow: hidden;
}
.rtl .home-html .left-custom .left-item a {
  float: right;
}
.home-html .left-custom .left-item.top a {
  width: 49%;
}
.home-html .left-custom .left-item.top a:last-child {
  float: right;
}
.rtl .home-html .left-custom .left-item.top a:last-child {
  float: left;
}
.home-html .left-custom .left-item.top a img {
  width: 100%;
  height: 196px;
}
.home-html .left-custom .left-item.bottom {
  margin-top: 30px;
}
.home-html .left-custom .left-item.bottom img {
  width: 100%;
  height: 196px;
}
.home-html .right-custom {
  padding-right: 0 !important;
}
.rtl .home-html .right-custom {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
.home-html .right-custom a {
  float: right;
  overflow: hidden;
  width: 100%;
}
.rtl .home-html .right-custom a {
  float: left;
}
.home-html .right-custom a img {
  width: 370px;
  height: 424px;
  float: right;
}
.rtl .home-html .right-custom a img {
  float: left;
}
.home-html .home-item {
  height: 190px;
  display: inline-block;
  overflow: hidden;
}
.home-html .home-item a {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.home-html .home-item a img {
  width: 100%;
  height: 190px;
}
.home-html .home-item:last-child {
  float: right;
}
.rtl .home-html .home-item:last-child {
  float: left;
}

/* Tabs carousel */
.tab-content > .tab-pane .carousel-control {
  top: 30%;
  color: white;
  font-size: 50px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width: 30px;
  line-height: 60px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.tab-content > .tab-pane .carousel-control:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tab-content > .tab-pane .carousel-control.left, .tab-content > .tab-pane .carousel-control.right {
  background: rgba(0, 0, 0, 0.6);
}
.tab-content > .tab-pane .carousel-control.left {
  left: 10px;
}
.tab-content > .tab-pane .carousel-control.right {
  right: 10px;
}

/* Content bottom */
#contentbottom .title_block {
  background: none repeat scroll 0 0 transparent;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 0;
}
#contentbottom .block_content 
{
  background: transparent;
  padding: 0;
  font-size: 13px;
}

#newsletter_block_left .block_content {
  padding-left: 0px;
}
.rtl #newsletter_block_left .block_content {
  padding-right: 0px;
  padding-left: inherit;
}
#newsletter_block_left .block_content #newsletter-input {
  display: inline-block;
  vertical-align: middle;
  width: 71%;
}
#newsletter_block_left .block_content .button_mini {
  text-transform: uppercase;
  color: white;
  background: #000;
  font-weight: bold;
  border: none;
}

.logo-bottom {
  text-align: center;
  margin-top: 40px;
}

/* End Content bottom */
#leo-footer-center .openning {
  font-size: 13px;
}
