@import "compass";
@import "theme_variables";
/*** ESSENTIAL STYLES ***/
.sf-contener {	
	float: left;	
}
.sf-right {}
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	position: relative;
	padding: 0; 
	z-index: 10;
	display: inline-block;
	@media (max-width: $screen-sm-max) { // max 991px
		display: none;
		position: absolute;		
		width: 100%;
		> li{
			background: $theme-color-default !important;
		}
	}
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	background-color: $megamenu-sub-bg-color;			
	@media (max-width: $screen-sm-max) { // max 991px
		position: relative;
	}
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	// visibility: inherit; fixes IE7 'sticky bug'
	// ul{
	// 	display: block;
	// }
}
.sf-menu > li {
	
	@include rtl-float-left();
	@include rtl-margin-right(1px);
	position: relative;
	@media (max-width: $screen-sm-max) { // max 991px
		float: none;
		position: relative;
		border-right: none;
		a{
			color: $white !important;			
		}
		&:hover{		
		}
		span {
			position: absolute;
			@include rtl-right(6px); 
			top: 5px;
			width: 30px;
			height: 30px;
			z-index: 2;
			&:after {
				font-family: $font-icon;
				content: "\f067";
				font-size: 26px;
				color: #fff;
			}
			&.active {
				&:after {
					content: "\f068";	
				}
			}
		}
		.submenu-container, .menu-mobile{
			top: 0px;
		}
	}
	> a {
		display: block;
		padding: $megamenu-parent-padding;				
		text-transform:  $megamenu-parent-text-transform;	
		font-size: $megamenu-link-font-size;			
		color: $megamenu-link-color;
		background-color: transparent!important;
		font-weight: $megamenu-font-weight;
		text-decoration: none;
		@include transition(all 350ms ease-out);
		&:hover,&:focus,&:active{
		}
		&:after{							
			content:"";
			bottom: 0;
			@include rtl-left(0);
			@include rtl-right(0);
			margin: 0 auto;	
			line-height: 0;				
			position: absolute;
			border-left: 6px solid transparent; 
			border-right: 6px solid transparent; 
			border-bottom: 0px solid $white; 
			@include size(0px,0px);		
			@include opacity(0);								
			@include transition(border 300ms ease-out 0s);
		}

	}
	&.sfHover > a,
	> a:hover,
	&.sfHoverForce > a {
		
	}
}
.sf-menu li li li a {
	display: inline-block;
	position: relative;
	color: #777777 !important;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	&:before {
		content: "\f105";
		display: inline-block;
		font-family: $font-icon;
		padding-right: 10px;
	}
	&:hover {
		color: $theme-color-default;
	}
}
.sf-menu li ul {
	display: none;
	@include rtl-left(0);
	top: 59px; /* match top ul list item height */
	z-index: 99;
	color: $megamenu-sub-text-color;	
	border: $megamenu-sub-border;
	min-width: $megamenu-sub-min-width;
	padding: $megamenu-sub-padding;
	background-color: $megamenu-sub-bg-color;
	@include rounded-corners($megamenu-sub-radius);							
	@include box-shadow($megamenu-sub-shadow);
	@include transition(opacity 0.3s linear 0s);		
}
.sf-menu li li ul {
	position: static;
	display: block !important;
	opacity: 1 !important;
	background: none;
	@include box-shadow(rgba(black, 0) 0px 0px 0px);
}
.sf-menu li li li ul {
	padding: 0 0 0 20px;
}
.sf-menu li li li ul {
	width: 220px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
.sf-menu > li > ul {
	padding: 26px 30px 31px;
	width: 100%;
	> li {
		> a {
			color: $theme-color-default !important;
			font: 600 16px/20px $font-family;
			&:hover{
				color: darken($theme-color-default, 10%);
			}
		}
	}
}
.sf-menu > li > ul > li {
	@include rtl-float-left();
	width: 100%;	
	@include rtl-padding-right(15px);
	@media (max-width: $screen-sm-max) { // max 991px
		width: 50%;
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		width: 100%;
	}
	@media (min-width: $screen-sm) { // min 768px
		&.first-in-line-lg {
			clear: left;
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 767px
		&.first-in-line-xs {
			clear: left;
		}
	}
}
.sf-menu > li > ul > li#category-thumbnail {
	width: 100% !important;
	float: none;
	clear: both;
	overflow: hidden;
	padding-right: 0;
	> div {
		@include rtl-float-left();
		padding-left: 10px;
		width: 33.333%;
		@media (max-width: $screen-xs - 1) { // max 479px
			width: 100%;
			padding-left: 0;
			padding-top: 10px;
			text-align: center;
		}
		&:first-child {
			padding-left: 0;
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
}
.cat-title {
	display: none;
	@media (max-width: $screen-sm-max) { // max 991px
		display: block;
		font: 600 18px/22px $font-family;
		text-transform: uppercase;
		color: $white;
		display: block;
		padding: 17px 20px;
		border-bottom: 3px solid #e9e9e9;
		background: $theme-color-default;
		position: relative;
		width: 50px;
		height: 50px;
		display: inline-block;
		&:hover {
			background: darken($theme-color-default, 10%);			
			color: $white;
		}		
	}
}

.sf-menu {
	li.sf-search{
		border: none;
		input{
			display: inline;
			padding: 0 13px;
			height: 30px;
			line-height: 30px;
			background: $input-bg;
			margin: 13px 10px 0 0;
			font-size: 13px;
			color: $input-color;
			border: 1px solid $input-border;
		}
	}
}

#block_top_menu{
	width: 100%;
	border: 1px dotted #222;
    border-right: none;
    border-left: none;
	.sf-search{
		width: 20%;
		@include rtl-float-right();
		margin-top: 7px;
		p{
			display: inline-block;
			margin: 0;
			input[type="text"]{
				width: 200px;				
				@include rtl-border-left(1px solid #ccc !important);
				border: none;
				padding-left: 10px;
				@include rtl-padding-left(10px);
			}
		}
		span{
			display: inline-block;
		}
		#searchbox{
			text-align: right;
		}
	}
}