



.homebig-text span{ 

	border-left:3px solid #3498db;

	border-right:3px solid #3498db;

}

ul.homeslimmenu li a:hover {

    border-bottom:1px solid #3498db;

}

ul.homeslimmenu li ul li a:hover {

    border-bottom:1px solid #3498db;

}

.homelist-social li.homeicon-soc a {

	color: rgba(102, 102, 102, 1);

}

.homeline-drawing path {

	stroke: #3498db;

}

h1 span:before  {

	color: #3498db;

}

h1 span:after  {

	color: #3498db;

}

.hometeam-social li.homeicon-team a {

	color:#3498db;

}

.homefacts-wrap-num{

	color:#3498db;

}  

.homeportfolio-box h4{ 

	color:#3498db;

}

#homeaction p {

	color:#3498db;

}

.homepace .homepace-progress {

  background: #3498db;

}

.homepace .homepace-progress-inner {

  box-shadow: 0 0 10px #3498db, 0 0 5px #3498db;

}

.homepace .homepace-activity {

  border-top-color: #3498db;

  border-left-color: #3498db;

}

.homeicon-left1{

	color:#3498db;

}

.homeicon-right1{

	color:#3498db;

}

.homeservices-offer .homeservices-icon{

	color:#3498db;

}

.homeservices-offer .homeservices-link:hover{

	background:#3498db;

}

.hometp-banner .homeservices-link:hover{

	background:#3498db;

}

#homesep .homeservices-link:hover{

	background:#3498db;

}

#homeabout .homeservices-link:hover{

	background:#3498db;

}

.homeDiv2 .homeservices-link:hover{

	background:#3498db;

}

.homeDiv3 .homeservices-link:hover{

	background:#3498db;

}

.homefeatured{

	border-top:3px solid #3498db;

}

.homeservices-offer:hover{

	border-top:3px solid #3498db;

}

.homeicon-contact1{

	color:#3498db;

} 

.homeicon-footer{

	color:#3498db;

}

.homeicon-test  {

	color:#3498db;

} 

.homebx-wrapper .homebx-controls-direction a {

	background-color:#3498db;

}

#homefooter .homeback-top{

	color:#3498db;

}





























































