/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
#search_block_top {
  padding: 0;
  padding: 5px 0;
}

.ac_results {
  background: white;
  border: 1px solid #eeeeee;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb;
}

form#searchbox {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 250px;
  float: right;
}
.rtl form#searchbox {
  float: left;
}
form#searchbox label {
  color: #858585;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox input#search_query_top {
  border-left: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  height: 30px;
}
form#searchbox .button.button-small {
  float: left;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}
form#searchbox .btn {
  padding: 4px 10px;
  background: #F7F5F5;
  color: #ccc;
  border: none;
  margin-top: 0px;
}
