/********************************** PRESTASHOP ******************************************/
p.payment_module a.pagoefectivo { background: url(../../img_pagoefectivo/Logo64-x-64.jpg) 15px 30px no-repeat #fbfbfb;padding-left:162px;font-size:14px }
p.payment_module a:hover {background-color: #f6f6f6;}
#module-pspagoefectivo-payment #center_column {width : 100%;}
#module-pspagoefectivo-payment #left_column {display: none;}
.col-md-6-pagoefectivo{width: 100%; }
/********************************** PRESTASHOP ******************************************/

/* Ventana emergente*/
.fancybox-skin {box-shadow: 0 0 50px #222;width: 615px!important;}
.fancybox-inner{width: 615px!important;}
.fancybox-image, .fancybox-iframe {overflow:hidden;}