/********************************** PRESTASHOP ******************************************/
p.payment_module a.pagoefectivo { background: url(../../img_pagoefectivo/Logo86-x-49.jpg) 0px 0px no-repeat; padding: 0px 0px 50px 99px;}
#module-pspagoefectivo-payment #left_column {display: none;}
/********************************** PRESTASHOP ******************************************/

/* Ventana emergente*/
.fancybox-skin {box-shadow: 0 0 50px #222;width: 615px!important;}
.fancybox-inner{width: 615px!important;}
.fancybox-image, .fancybox-iframe {overflow:hidden;}